<nav class="_navbar-m">
  <%= link_to feeds_path do %>
    <div class="navbar-element text-center">
      <%= image_tag("icon_home_empty", style: "width: 42%; height: auto; padding-top:10%; padding-bottom: 4%;") %>
      <p class="_fs-1 _white">Home</p>
    </div>
  <% end %>
  <%= link_to upcomings_path do %>
    <div class="navbar-element text-center">
      <%= image_tag("icon_ticket_empty", style: "width: 34%; height: auto; padding-top:10%; padding-bottom: 4%;") %>
      <p class="_fs-1 _white">Upcoming</p>
    </div>
  <% end %>
  <div class="navbar-element text-center">
    <%= link_to search_index_path do %>
      <%= image_tag("icon_search", style: "width: 78%; height: auto; margin-bottom: -8%; margin-top: -46%;") %>
    <% end %>
  </div>
  <%= link_to connect_urls_path do %>
    <div class="navbar-element text-center">
      <%= image_tag("icon_connect_empty", style: "width:42%; height: auto; padding-top:10%; padding-bottom: 4%;") %>
      <p class="_fs-1 _white">Connect</p>
    </div>
  <% end %>
  <%= link_to mypage_index_path do %>
    <div class="navbar-element text-center">
      <%= image_tag("icon_my_page", style: "width: 30%; height: auto; padding-top:10%; padding-bottom: 4%;") %>
      <p class="_fs-1 _white">My page</p>
    </div>
  <% end %>
</nav>
