<footer class="_footer">
  <div class="_describe-container _vcenter-positioner _no-p-margin">
    <p class="_fs-4 _white _text-margin-right" id="render-contact">Contact Us</p>
    <%= link_to mypage_about_path do %>
        <p class="_fs-4 _white _text-margin-right">About</p>
    <% end %>
    <p class="_fs-4 _white" id="render-notice">Notice</p>
  </div>
  <div class="_legal-term-container _vcenter-positioner _no-p-margin">
    <%= link_to mypage_terms_of_use_path do %>
        <div class="_fs-4 _white _text-margin-right">Term of Service</div>
    <% end %>
    <%= link_to mypage_privacy_policy_path do %>
        <div class="_fs-4 _white">Privacy Policy</div>
    <% end %>
  </div>

  <div class="_info-container _row-positioner">
    <div class="_flex-grow-1">
      <p class="_fs-5 _light-gray">라이블 | 대표자 : 최지인 | 사업자등록번호 : 391-59-00243 | 경기도 성남시 분당구</p>
      <p class="_fs-5 _light-gray">판교로89번길 20, 스타트업캠퍼트 8층 | 개인정보관리책임자 : 손상혁 (contacts@livle.kr)</p>
      <p class="_fs-5 _light-gray">Copyright @ Livle All Rights Reserved | 고객센터 : 070-8163-4068</p>
      <p class="_fs-5 _light-gray">라이블은 사이트 내에서 일어난 중개서비스 거래에 대해 책임지며 민원 및 환불 등을 직접 처리합니다.</p>
    </div>
    <div class="_contact-container _column-positioner _vbottom-positioner">
      <div class="_vcenter-positioner _sns-container _no-p-margin">
        <%= image_tag "logo_yellow_id", class: "_logo-image" %>
        <p class="_fs-5 _light-gray">YellowID | @Livle</p>
      </div>
      <p class="_fs-5 _light-gray">운영시간 : 09:00 ~ 18:00</p>
      <div class="_vcenter-positioner _sns-container">
        <%= link_to 'https://www.facebook.com/Livlemusic/' do %>
            <%= image_tag "logo_facebook", class: "_logo-image" %>
        <% end %>
        <%= link_to 'http://blog.naver.com/livle' do %>
            <%= image_tag "logo_blog", class: "_logo-image" %>
        <% end %>
      </div>
    </div>
  </div>

  <script>
      $('#render-contact').on('click', function () {
          $('#footer-modal').remove();
          $('footer').append(
              '<div id="footer-modal">' +
              '    <%= j render partial: "mypage/settings_contact_desktop" %>' +
              '</div>'
          );
      });

      $('#render-notice').on('click', function () {
          $('#footer-modal').remove();
          $('footer').append(
              '<div id="footer-modal">' +
              '<%= j render file: "notices/index_desktop.html.erb" %>' +
              '</div>'
          );
      });
  </script>
</footer>