<footer class="_footer">
  <div class="_sns-container _hcenter-positioner">
    <%= link_to 'https://m.me/Livlemusic' do %>
        <div class="_logo-container _vcenter-positioner">
          <%= image_tag "logo_facebook", class: "_logo-image" %>
        </div>
    <% end %>
    <div class="_logo-container _vcenter-positioner">
      <%= image_tag "logo_instagram", class: "_logo-image" %>
    </div>
  </div>

  <div class="_describe-container _vcenter-positioner _no-p-margin">
    <p class="_fs-4 _white _text-margin-right">Contact Us</p>
    <p class="_fs-4 _white _text-margin-right">About</p>
    <p class="_fs-4 _white">Notice</p>
  </div>

  <div class="_location-container">
    <p class="_fs-5 _light-gray _f-line">경기도 성남시 분당구<br>삼평동 대왕판교289번길 20, 8</p>
  </div>

  <div class="_legal-term-container _vcenter-positioner _no-p-margin">
    <%= link_to mypage_terms_of_use_path do %>
        <div class="_fs-4 _white _text-margin-right">Term of Service</div>
    <% end %>
    <%= link_to mypage_privacy_policy_path do %>
        <div class="_fs-4 _white">Privacy Policy</div>
    <% end %>
  </div>
</footer>