<nav class="_vcenter-positioner _navbar">
  <% control = controller.class.name.split("::").first.to_s %>
  <!-- search-bar -->
  <div class="_hcenter-positioner">
    <%= render partial: "/search/search_bar_desktop" %>
  </div>

  <!-- LIVLE logo -->
  <div class="_navbar-logo-container _vcenter-positioner">
    <%= link_to feeds_path do %>
        <%= image_tag "logo_livle", class: "_logo-livle" %>
    <% end %>
  </div>

  <div class="_navbar-buttons-container _vcenter-positioner _no-p-margin">
    <!-- buttons -->
    <div class="_navbar-button">
      <%= link_to upcomings_path do %>
          <% if control == 'UpcomingsController' %>
              <%= image_tag "icon_ticket_filled", class: "_navbar-icon" %>
          <% else %>
              <%= image_tag "icon_ticket_empty", class: "_navbar-icon" %>
          <% end %>
      <% end %>
    </div>
    <div class="_navbar-button">
      <%= link_to connect_urls_path do %>
          <% if control == 'ConnectUrlsController' %>
              <%= image_tag "icon_connect_filled", class: "_navbar-icon" %>
          <% else %>
              <%= image_tag "icon_connect_empty", class: "_navbar-icon" %>
          <% end %>
      <% end %>
    </div>
    <% if !user_signed_in? %>
        <%= link_to mypage_index_path, class: "_text-center" do %>
            <div class="_navbar-button">
              <div class="_navbar-login-button _hcenter-positioner _vcenter-positioner _no-p-margin">
                <p class="_fs-3 _white">Login</p>
              </div>
            </div>
        <% end %>
    <% else %>
        <div class="dropdown _navbar-button">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="_vcenter-positioner">
              <div class="_navbar-profile-container">
                <%= image_tag "#{current_user.profile_img}", class: "_profile-img" %>
              </div>
              <%= image_tag "icon_dropdown", class: "_navbar-dropdown-icon" %>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <%= link_to mypage_index_path, class: "_text-center" do %>
                  <p class="_fs-4 _white">마이페이지</p>
              <% end %>
            </li>
            <li>
              <%= link_to mypage_edit_profile_path, class: "_text-center" do %>
                  <p class="_fs-4 _white">프로필 설정</p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "_text-center" do %>
                  <p class="_fs-4 _white">로그아웃</p>
              <% end %>
            </li>
            <li>
              <%= link_to admin_feed_path, class: "_text-center" do %>
                  <p class="_fs-4 _white">관리자 설정</p>
              <% end %>
            </li>
          </ul>
        </div>
    <% end %>
  </div>
</nav>