<nav class="_vcenter-positioner _navbar">
  <% control = controller.class.name.split("::").first.to_s %>
  <!-- search-bar -->
  <div class="_hcenter-positioner">
    <%= form_tag search_result_path, method: :get, class: "_navbar-serach-container"  do %>
        <div class="_vcenter-positioner">
          <div class="_navbar-search-icon-container _hright-positioner">
            <%= image_tag "icon_search_gray", class: "_navbar-search-icon" %>
          </div>
          <%= text_field_tag :search, nil, class: "_navbar-search-input _fs-4 _white", placeholder: "검색하기" %>
          <%= image_tag "icon_esc", class: "_navbar-search-esc", style: "display: none" %>
        </div>
    <% end %>
  </div>

  <!-- LIVLE logo -->
  <div class="_navbar-logo-container _vcenter-positioner">
    <%= link_to feeds_path do %>
        <%= image_tag "logo_livle", class: "_navbar-logo" %>
    <% end %>
  </div>

  <div class="_navbar-buttons-container _vcenter-positioner">
    <!-- buttons -->
    <div class="_navbar-button-container">
      <%= link_to upcomings_path do %>
          <% if control == 'UpcomingsController' %>
              <%= image_tag "icon_ticket_filled", class: "_navbar-icon" %>
          <% else %>
              <%= image_tag "icon_ticket_empty", class: "_navbar-icon" %>
          <% end %>
      <% end %>
    </div>
    <div class="_navbar-button-container">
      <%= link_to connect_urls_path do %>
          <% if control == 'ConnectUrlsController' %>
              <%= image_tag "icon_connect_filled", class: "_navbar-icon" %>
          <% else %>
              <%= image_tag "icon_connect_empty", class: "_navbar-icon" %>
          <% end %>
      <% end %>
    </div>
    <!-- TODO: Modal 띄우는거 고민해보자.. -->
    <div class="_navbar-button-container">
      <div id="navbar-login-button">
        <p class="_fs-3 _white">로그인</p>
      </div>
    </div>
    <div class="_navbar-button-container dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <p class="_fs-3 _white">Profile</p>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">프로필 설정</a>
        </li>
        <li>
          <a href="#">좋아요 모아보기</a>
        </li>
        <li>
          <a href="#">로그아웃</a>
        </li>
        <li>
          <%= link_to admin_feed_path do %>
              관리자 설정
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>