<nav class="_vcenter-positioner _navbar-m">
  <% control = controller.class.name.split("::").first.to_s %>
  <%= link_to feeds_path, class: "_flex-grow-1" do %>
      <div class="_text-center" onclick="sendClickTab('feed')">
        <%= image_tag "#{control == 'FeedsController' ? 'icon_home_filled' : 'icon_home_empty'}", style: "width: auto; height: 7rem; margin-bottom: 3%;" %>
        <p class="_fs-navbar-mobile _white">Home</p>
      </div>
  <% end %>
  <%= link_to upcomings_path, class: "_flex-grow-1" do %>
      <div class="_text-center" onclick="sendClickTab('upcoming')">
        <%= image_tag "#{control == 'UpcomingsController' ? 'icon_ticket_filled' : 'icon_ticket_empty'}", style: "width: auto; height: 8rem;" %>
        <p class="_fs-navbar-mobile _white">Upcoming</p>
      </div>
  <% end %>
  <%= link_to search_path, class: "_flex-grow-1" do %>
      <div class="_text-center" onclick="sendClickTab('search')">
        <%= image_tag "#{control == 'SearchController' ? 'icon_search_filled' : 'icon_search_empty'}", style: "width: auto; height: 7rem; margin-bottom: 2%;" %>
        <p class="_fs-navbar-mobile _white">Search</p>
      </div>
  <% end %>
  <%= link_to connect_urls_path, class: "_flex-grow-1" do %>
      <div class="_text-center" onclick="sendClickTab('connect')">
        <%= image_tag "#{control == 'ConnectUrlsController' ? 'icon_connect_filled' : 'icon_connect_empty'}", style: "width: auto; height: 8rem;" %>
        <p class="_fs-navbar-mobile _white">Connect</p>
      </div>
  <% end %>
  <%= link_to mypage_index_path, class: "_flex-grow-1" do %>
      <div class="_text-center" onclick="sendClickTab('mypage')">
        <%= image_tag "#{control == 'MypageController' ? 'icon_mypage_filled' : 'icon_mypage_empty'}", style: "width: auto; height: 7rem; margin-bottom: 3%;" %>
        <p class="_fs-navbar-mobile _white">My page</p>
      </div>
  <% end %>
</nav>