<nav>
  <div class="navbar-desktop-container">
    <div class="row ">
      <!-- LIVLE logo -->
      <div class="col-xs-4">
        <%= link_to feeds_path do %>
            <%= image_tag "logo_livle", class: "navbar-desktop-logo" %>
        <% end %>
      </div>
      <!-- search-bar -->
      <div class="col-xs-4">
        <%= form_tag("/search/serach", method: "get") do %>
          <%= text_field_tag :term, nil, rows: 1, class: "navbar-desktop-search-box", placeholder: "Search" %>
        <% end %>
      </div>
      <!-- buttons -->
      <div class="col-xs-1">
        <div class="navbar-desktop-buttons-container">
          <%= link_to upcomings_path do %>
              <div class="navbar-desktop-button-box">
                <!--<= image_tag "icon_ticket_empty", class: "navbar-desktop-button" %>-->
                <p style="color: #ffffff; font-size: 1.1em; display: inline-block; margin-left: 8%;">UPCOMING</p>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="navbar-desktop-buttons-container">
          <%= link_to connect_urls_path do %>
              <div class="navbar-desktop-button-box">
                <!--<= image_tag "icon_connect_empty", class: "navbar-desktop-button" %>-->
                <p style="color: #ffffff; font-size: 1.1em; display: inline-block; margin-left: 8%;">CONNECT</p>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1">
        <!-- TODO: Modal 띄우는거 고민해보자.. -->
        <div class="navbar-desktop-buttons-container">
          <div id="navbar-login-button">
            <p style="color: #ffffff; font-size: 1.1em;">로그인</p>
          </div>
        </div>
      </div>
      <div class="col-xs-1">

      </div>
    </div>
  </div>
</nav>