<% if user_signed_in? %>
    <!-- TODO: Form Helper 완성시키기 -->
    <%= form_for model.new, url: model.to_s == 'FeedComment' ? feed_feed_comments_path(parent_id) :
                                    upcoming_upcoming_comments_path(parent_id), remote: true do |f| %>
        <div class="_comment-container _vcenter-positioner">
          <%= f.hidden_field :model_id, value: parent_id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="_comment-profile-container">
            <%= image_tag current_user.profile_img, class: "_profile-img" %>
          </div>
          <p class="_fs-4 _white "><%= current_user.nickname %></p>
          <%= f.text_field :content, placeholder: "댓글을 입력해주세요!", class: "_comment-input-container _flex-grow-1 _fs-4 _white" %>
        </div>
    <% end %>
<% end %>

<div class="_comments-group">
  <%= render partial: "/partial_views/comment_card_desktop", collection: comments, as: :comment %>
</div>
