<% if user_signed_in? %>
    <!-- TODO: Form Helper 완성시키기 -->
    <!--<= form_for comments do |f| %>-->
    <div class="_comment-container _vcenter-positioner">
      <div class="_comment-profile-container">
        <%= image_tag current_user.profile_img, class: "_profile-img" %>
      </div>
      <p class="_fs-4 _white "><%= current_user.nickname %></p>
      <%= text_field_tag :content, placeholder: "어떤 말이 하고 싶으신가요?", class: "_comment-content-container _flex-grow-1 _fs-4 _white" %>
      <!--<= t.text_field :content, placeholder: "어떤 말이 하고 싶으신가요?", class: "_comment-content-container _flex-grow-1 _fs-4 _white" %>-->
    </div>
    <!--< end %>-->
<% end %>
<% comments.each do |comment| %>
    <div class="_comment-container _vcenter-positioner">
      <div class="_comment-profile-container">
        <%= image_tag "#{comment.user.profile_img}", class: "_profile-img" %>
      </div>
      <p class="_fs-4 _white "><%= comment.user.nickname %></p>
      <div class="_comment-content-container _flex-grow-1">
        <%= simple_format comment.content, class: "_fs-4 _white" %>
      </div>
    </div>
<% end %>