<% if user_signed_in? %>
    <% model = belongs_to.class == Feed ? FeedComment : (belongs_to.class == Upcoming ? UpcomingComment : nil ) %>
    <%= form_for [belongs_to, model.new], remote: true do |f| %>
        <div class="_comment-container _vcenter-positioner">
          <div class="_comment-profile-container">
            <%= image_tag current_user.profile_img, class: "_profile-img" %>
          </div>
          <p class="_fs-4 _white"><%= current_user.nickname %></p>
          <%= f.text_area :content, class: "autosize _comment-input-container _fs-4 _white _flex-grow-1", rows: 1, placeholder: "댓글을 입력해주세요!" %>
        </div>
        <%= f.submit "게시", class: "_display-none" %>
        <script>
            //enter-> submit, shift+enter-> newline
            $('textarea').on('keydown', function(event) {
              if (event.keyCode == 13 && !event.shiftKey) {
                event.preventDefault();
                $(':submit').click();
              }
            });
        </script>
    <% end %>
<% end %>

<div class="_comments-group">
  <%= render partial: "/partial_views/comment_card_desktop", collection: comments.order('created_at DESC'), as: :comment %>
</div>
