<div class="_card-container-m">
  <%= link_to upcoming_path(upcoming.id), method: :get do %>
      <div class="_thumbnail-container-m">
        <%= image_tag "http://img.youtube.com/vi/#{upcoming.main_video_id}/maxresdefault.jpg", class: "_thumbnail-image-m", id: "upcoming-#{upcoming.id}" %>
        <div class="_thumbnail-filter-m"></div>

        <div class="describe-container">
          <p class="_fs-2-mobile _white">
            <%= upcoming.title %> (<%= upcoming.place %>)
          </p>
          <p class="_fs-3-mobile _light-gray">
            <%= upcoming.start_date %> - <%= upcoming.end_date %>
          </p>
          <p class="_fs-3-mobile _light-gray">
            <!-- artist name -->
            <% upcoming.artists.each_with_index do |artist, i| %>
                <%= artist.name %>
                <% break if upcoming.artists[i+1] == nil %>
                ,&nbsp
            <% end %>
          </p>
        </div>

        <div class="_thumbnail-button-container-m _vcenter-positioner _hright-positioner">
          <p class="_fs-2-mobile _white _f-letter-mobile _thumbnail-margin-right-m"><strong>D<%= upcoming.d_day %></strong></p>
        </div>

        <div class="describe-icon">
          <%= image_tag like_true(upcoming.id) ? "icon_hand_filled" : "icon_hand_empty", class: "_upcoming-like-icon-m" %>
        </div>
      </div>
  <% end %>
</div>