<div class="_card-container-m">
  <%= link_to upcoming_path(upcoming.id) do %>
      <div class="_thumbnail-container-m">
        <%= image_tag "image_live", class: "_thumbnail-image-m", id: "upcoming-#{upcoming.id}" %>
        <div class="_thumbnail-filter-m"></div>

        <div class="describe-container _row-positioner">
          <div class="describe-text">
            <p class="_fs-2-mobile _white">
              <%= upcoming.title %> (<%= upcoming.place %>)
            </p>
            <p class="_fs-3-mobile _light-gray">
              <%= upcoming.start_date %> - <%= upcoming.end_date %>
            </p>
            <p class="_fs-3-mobile _light-gray">
              <!-- artist name -->
              <% upcoming.artists.each_with_index do |artist, i| %>
                  <%= artist.name %>
                  <% break if upcoming.artists[i+1] == nil %>
                  ,&nbsp
              <% end %>
            </p>
          </div>
        </div>

        <div class="_thumbnail-button-container-m _vcenter-positioner _hright-positioner">
          <p class="_fs-2-mobile _white _f-letter-mobile _thumbnail-margin-right-m"><strong>D<%= d_day(upcoming.start_date) %></strong></p>
        </div>

        <div class="describe-icon">
          <%= image_tag "icon_hand_empty", class: "_upcoming-like-icon-m" %>
        </div>
      </div>
  <% end %>
</div>
<script>
    <% video_id = upcoming.main_youtube_id.gsub(/https:\/\/www.youtube.com\/watch\?v=|https:\/\/youtu.be\//, '') %>
    $('#upcoming-<%= upcoming.id %>').attr({
        src: "http://img.youtube.com/vi/<%= video_id %>/maxresdefault.jpg"
    });
</script>