<div class="card-border">
  <%= link_to upcoming_path(upcoming.id) do %>
    <div class="card-thumbnail upcoming-index-card-thumbnail">
      <%= image_tag "image_live", class: "card-image upcoming-index-card-image" %>
      <div class="card-thumbnail-filter"></div>
      <div class="upcoming-index-card-title">
        <%= upcoming.title %>
      </div>
      <div class="upcoming-index-card-place">
        <%= upcoming.place %>
      </div>
      <div class="upcoming-index-card-date">
        <%= upcoming.start_date %> - <%= upcoming.end_date %>
      </div>
      <div class="upcoming-index-card-pick-button">
        찜버튼
      </div>
    </div>

    <div class="card-brief">
      <div class="row upcoming-index-card-row">
        <div class="col-xs-8 upcoming-index-card-lineup">
          <% artist = upcoming.upcoming_artists.first.artist %>
          <p class="black-title">
            <% if upcoming.upcoming_artists.size > 1 %>
              <%= artist.name %> 및 <%= upcoming.upcoming_artists.size %>명
            <% else %>
              <%= artist.name %>
            <% end %>
          </p>
        </div>
        <div class="col-xs-4 upcoming-index-card-dday text-right">
          <p class="gray-title">D-<%= @d_day[upcoming.id] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
