<div id="upcomings-show-mobile">
  <!-- Youtube Video Player -->
  <% if @main_video %>
      <%= render partial: 'partial_views/youtube_player_mobile', locals: { player_id: @main_video_id, feed: @main_video, autoplay: true, no_thumbnail_button: true } %>
  <% end %>
  <% @artists.each_with_index do |artist, index| %>
      <% player_display_none = index != 0 || @main_video %>
      <% autoplay = index == 0 && !@main_video %>
      <%= render partial: 'partial_views/youtube_player_mobile', locals: { player_id: artist.popular_feed_artist.id, feed: artist.popular_feed, player_display_none: player_display_none, autoplay: autoplay}%>
  <% end %>

  <!-- back button -->
  <%= link_to :back, class: "_link-back-container-m", id: 'back' do %>
      <%= image_tag("icon_back", style: "width: 4rem; height: auto;") %>
  <% end %>

  <!-- Video info -->
  <div class="_show-player-padding-m">
    <div class="info-container">
      <div class="_show-text-container-m _row-positioner">
        <p class="_flex-grow-1 _fs-1-mobile _white">
          <%= @upcoming.title %>
        </p>
        <div class="width-devision _hright-positioner">
          <p class="_fs-1-mobile _white _f-letter-mobile"><strong>D<%= @upcoming.d_day %></strong></p>
        </div>
      </div>
      <div class="describe-padding">
        <p class="_fs-1-mobile _white"><%= @upcoming.place %></p>
      </div>
      <div class="describe-padding _vcenter-positioner">
        <div class="describe-date">
          <p class="_fs-3-mobile _light-gray">
            <%= @upcoming.start_date %> - <%= @upcoming.end_date %>
          </p>
        </div>
        <div class="describe-icons _vcenter-positioner _hright-positioner">
          <%= image_tag "icon_ticket_empty", class: "_upcoming-like-icon-m icon-padding", onclick: "$('#ticket-link-modal').modal();" %>
          <%= link_to upcoming_toggle_like_path(@upcoming.id), remote: true do %>
              <%= image_tag "icon_hand_empty", id: "icon-hand-empty", class: @like_true ? "_display-none _upcoming-like-icon-m" : "_upcoming-like-icon-m" %>
              <%= image_tag "icon_hand_filled", id: "icon-hand-filled", class: @like_true ? "_upcoming-like-icon-m" : "_display-none _upcoming-like-icon-m" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Line-Up -->
  <div class="line-up-container">
    <div class="_show-text-container-m _row-positioner">
      <p class="_flex-grow-1 _fs-3-mobile _white">LINE - UP</p>
      <div class="_flex-grow-1 _hright-positioner">
        <p class="_fs-3-mobile _white">전체보기</p>
      </div>
    </div>
  </div>
  <div class="line-up-group-container">
    <% if @main_video %>
        <%= render partial: 'lineup_profile_mobile', locals: {target_player_id: @main_video_id, image_url: @main_video_image_url, name: "Main Video" } %>
    <% end %>
    <% @artists.each do |artist| %>
        <%= render partial: 'lineup_profile_mobile', locals: {target_player_id: artist.popular_feed_artist.id, image_url: artist.image_url , name: artist.name } %>
    <% end %>
  </div>

  <!-- Like, Comment, Share Buttons -->
  <div class="_show-buttons-container-m _row-positioner _no-p-margin">
    <%= link_to "", remote: true, id: "video-like-button", class: "_flex-grow-1
    _hcenter-positioner _vcenter-positioner" do %>
        <div class="_show-icon-m show-like">
          <%= image_tag "icon_like_empty", id: "icon-like-empty", class: "_show-icon-m" %>
          <%= image_tag "icon_like_filled", id: "icon-like-filled", class: "_display-none _show-icon-m" %>
        </div>
        <p class="_fs-4-mobile _white _icon-text-margin-m">좋아요</p>
    <% end %>
    <div class="_flex-grow-1 _hcenter-positioner _vcenter-positioner" onclick="$('#upcoming_comment_content').focus();">
      <%= image_tag "icon_comment_white", class: "_show-icon-m" %>
      <p class="_fs-4-mobile _white">댓글</p>
    </div>
    <div class="_flex-grow-1 _hcenter-positioner _vcenter-positioner" id="share-modal-button" onclick="$('#share-modal').modal();">
      <%= image_tag "icon_share_white", class: "_show-icon-m" %>
      <p class="_fs-4-mobile _white">공유</p>
    </div>
  </div>
  <hr>

  <!-- Comments -->
  <%= render partial: "partial_views/show_comment_mobile", locals: {comments: @upcoming.upcoming_comments, belongs_to: @upcoming} %>

  <!-- Modals -->
  <div id ="ticket-link-modal" class="modal">
    <%= render partial: 'partial_views/ticket_link_mobile', locals: {upcoming: @upcoming} %>
  </div>
  <div id="share-modal" class="modal">
    <%= render partial: 'partial_views/share_modal_mobile', locals: {post: @upcoming} %>
  </div>
</div>
<script>
$("#back").click(function(e) {
  e.preventDefault();
  if(document.referrer && (document.referrer.includes('livle') || document.referrer.includes('localhost')) ) {
    window.history.back();
  }
  else {
    window.location = '/upcomings';
  }
});
</script>
