<% opengraph(@upcoming) %>
<div id="upcomings-show">
  <div class="_hcenter-positioner">
    <div class="_desktop-container _row-positioner">
      <!-- Main -->
      <div class="show-video-container _no-p-margin">
        <!-- TODO Handling when there is no video to show -->
        <!-- Youtube Video Player -->
        <% if @has_main_video %>
            <%= render partial: 'partial_views/youtube_player_desktop', locals: { player_id: get_youtube_video_id(@main_video.youtube_url), feed: @main_video, autoplay: true, no_thumbnail_button: true, main_video: true } %>
        <% end %>
        <% @artists.each_with_index do |artist, index| %>
            <% if artist.popular_feed %>
                <% player_display_none = index != 0 || @has_main_video %>
                <% autoplay = index == 0 && !@has_main_video %>
                <%= render partial: 'partial_views/youtube_player_desktop', locals: { player_id: artist.popular_feed_artist.id, feed: artist.popular_feed, player_display_none: player_display_none, autoplay: autoplay}%>
            <% end %>
        <% end %>

        <div class="text-container">
          <!--upcoming title-->
          <div class="_vcenter-positioner">
            <div class="_flex-grow-1">
              <p class="_fs-1 _white">
                <%= @upcoming.title %>
              </p>
            </div>
            <p class="_fs-1 _white _f-letter">
              <strong>D<%= @upcoming.d_day %></strong>
            </p>
          </div>

          <!--upcoming place-->
          <div class="_vcenter-positioner">
            <div class="_flex-grow-1">
              <div class="text-padding">
                <p class="_fs-1 _white"><%= @upcoming.place %></p>
              </div>
              <div class="text-padding">
                <p class="_fs-3 _light-gray"><%= @upcoming.start_date %></p>
              </div>
            </div>
            <div class="ticket-container">
              <%= image_tag "icon_ticket_empty", id:"ticket-button", class: "upcoming-icon" %>
            </div>
            <%= link_to upcoming_toggle_like_path(@upcoming.id), onclick: "sendClickButton('upcomingLike');", remote: true do %>
                <%= image_tag "icon_hand_empty", id: "icon-hand-empty", class: @like_true ? "_display-none upcoming-icon" : "upcoming-icon" %>
                <%= image_tag "icon_hand_filled", id: "icon-hand-filled", class: @like_true ? "upcoming-icon" : "_display-none upcoming-icon" %>
            <% end %>
          </div>
        </div>

        <!-- each artist name-->
        <hr>
        <div class="text-container">
          <p class="_fs-1 _white _f-letter-narrow">LINE-UP</p>
          <p class="_fs-5 _light-gray">
            <% @upcoming.artists.each_with_index do |artist, index| %>
                <% unless index == 0 %>,&nbsp<% end %>
                <%= artist.name %>
            <% end %>
          </p>
        </div>

        <div class="line-up-container _vcenter-positioner">
          <% if @has_main_video %>
              <%= render partial: 'lineup_profile_desktop', locals: {target_player_id: get_youtube_video_id(@main_video.youtube_url), image_url: @main_video_image_url, name: "Main Video" } %>
          <% end %>
          <% @artists.each do |artist| %>
              <%= render partial: 'lineup_profile_desktop',
                         locals: {target_player_id: artist.popular_feed_artist ? artist.popular_feed_artist.id : 0, image_url: artist.image_url , name: artist.name } %>
          <% end %>
        </div>

        <!-- Like, Comment, Share Buttons -->
        <div class="_show-buttons-container _vcenter-positioner">
          <div class="_flex-grow-1 _vcenter-positioner">
            <%= image_tag "icon_comment_white", class: "_show-icon" %>
            <p class="_fs-4 _white">댓글 (<%= @upcoming.upcoming_comments.size %>)</p>
          </div>
          <%= link_to "", id: "video-like-button", remote: true, class: "_vcenter-positioner _show-button-padding
          #{@has_main_video ? "_display-none" : ""}" do %>
              <div class="show-like">
                <%= image_tag "icon_like_empty", id: "icon-like-empty", class: "_show-icon" %>
                <%= image_tag "icon_like_filled", id: "icon-like-filled", class: "_display-none _show-icon" %>
              </div>
              <p class="_fs-4 _white">좋아요</p>
          <% end %>
          <div class="_share-container">
            <div class="_vcenter-positioner _show-button-padding" id="share-button">
              <%= image_tag "icon_share_white", class: "_show-icon" %>
              <p class="_fs-4 _white _white-space-nowrap">공유</p>
            </div>
          </div>
        </div>
        <hr>

        <!-- Comments -->
        <%= render partial: "partial_views/show_comment_desktop", locals: {comments: @upcoming.upcoming_comments, belongs_to: @upcoming} %>
      </div>

      <!-- Reated Video -->
      <div class="related-video-container">
        <div class="related-card-container _hcenter-positioner">
          <div class="related-video-background">
            <!-- TODO Handling when there is no video to show -->
            <%= thumbnail_tag (@upcoming.main_video ? @upcoming.main_video.youtube_url : ''), class: "_thumbnail-blur-img" %>
            <div class="related-video-filter _full-container"></div>
          </div>

          <div class="card-container">
            <p class="_fs-4 _white">관련공연</p>
            <% @upcoming.related_upcomings.each do |upcoming| %>
                <%= render partial: "index_card_desktop", locals: {upcoming: upcoming} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      $('#ticket-button').on('click', function () {
          $('.ticket-container').append(
              '<div class="ticket-modal _desktop-modal _column-positioner _vcenter-positioner">\n' +
              '  <div class="ticket-modal-title">\n' +
              '    <p class="_fs-title _f-family-tmon _dark-gray">티켓 바로가기</p>\n' +
              '  </div>\n' +
              '  <hr style="width: 100%">\n' +
              '  <div class="ticket-button-group _column-positioner _vcenter-positioner _hcenter-positioner">\n' +
              '    <% @upcoming.upcoming_ticket_urls.each_with_index do |ticket, i| %>' +
              '      <% ticket.provider = i %>' +
              '      <%= link_to ticket.ticket_url, class: "ticket-button _vcenter-positioner _hcenter-positioner" do %>' +
              '          <%= image_tag "logo_#{ticket.provider}", class: "ticket-logo" %>\n' +
              '      <% end %>' +
              '    <% end %>' +
              '  </div>\n' +
              '</div>'
          );
      });

      $('#share-button').on('click', function () {
          sendClickButton('share');
          $('._share-container').append(
              '<div class="_share-modal _desktop-small-modal">\n' +
              '  <p class="_fs-3 _black">공유하기</p>\n' +
              '  <p class="_fs-3 _dark-gray">페이스북 트위터</p>\n' +
              '</div>'
          );
      });

      //works like modal
      $('body').click(function (e) {
          var $target = $(e.target);
          if(!$target.is('._desktop-small-modal, ._desktop-small-modal *')) {
              $('._share-modal').remove();
          }
          if (!$target.is('.ticket-modal, .ticket-modal *')) {
              $('.ticket-modal').remove();
          }
      }).find('#ticket-button, #share-button').on('click', function (e) {
          e.stopPropagation();
      });
  </script>
</div>
