<div id="upcomings-show-mobile" class="show-mobile" data-video-index="0" data-size="<%= @posts.size %>" >

  <!-- Youtube Video Player -->
  <% @posts.each_with_index do |post, index| %>

      <div class="_show-video-container-m show-video-container <%= index == 0 ? "" : "_display-none" %>"
           data-index="<%= index %>"
           data-post-class="<%= post[:post_class] %>"
           data-post-id="<%= post[:id] %>"
           data-like-true="<%= post[:like_true] %>">
        <iframe id="youtube-player-<%= index %>" type="text/html" src="http://www.youtube.com/embed/<%= post[:video_id] %>?version=3&enablejsapi=1&controls=0&rel=0&autoplay=1&showinfo=0&
    autohide=1&playsinline=1&iv_load_policy=3&modestbranding=1&loop=1&playlist=<%= post[:video_id] %>"
                webkitallowfullscreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>

        <div class="youtube-player-filter">
          <div class="_show-video-filter-m"></div>
          <div class="_show-video-title-container-m _hcenter-positioner">
            <p class="_fs-2-mobile _white">
              <!-- title -->
              <%= @upcoming.title %> -
              <!--artist.name -->
              <%= post[:artist_name] %>
            </p>
          </div>
          <div class="_thumbnail-button-container-m _vcenter-positioner _no-p-margin">
            <% if index != 0 %>
                <%= image_tag("icon_view_white", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m") %>
                <p class="_fs-5-mobile _white"><%= post[:count_view] %></p>
                <%= image_tag("icon_like_filled", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m") %>
                <p class="_fs-5-mobile _white post-like-count"><%= post[:count_like] %></p>
                <%= image_tag("icon_share_white", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m") %>
                <p class="_fs-5-mobile _white"><%= post[:count_share] %></p>
            <% end %>
          </div>
        </div>

        <div class="_show-play-button-container-m _hcenter-positioner _vcenter-positioner youtube-player-controller">
          <div class="_show-progress-container-m _hcenter-positioner _vcenter-positioner youtube-player-buttons">
            <div id="progress-bar-<%= index %>" class="video-progress-bar"></div>
          </div>
          <div class="_show-progress-container-m _hcenter-positioner _vcenter-positioner youtube-player-buttons">
            <p class="_show-progress-margin-m _fs-4-mobile _white remaining-timer">0:00</p>
          </div>
          <div class="_thumbnail-button-container-m _vcenter-positioner _hright-positioner youtube-player-buttons">
            <p class="_fs-4-mobile _light-gray _thumbnail-elem-margin-m hd-button" style="margin-top: 1%;">HD</p>
            <%= image_tag "icon_fullscreen_white", class: "_thumbnail-info-icon-m fullscreen-button" %>
          </div>
          <%= image_tag("icon_play", class: "_show-play-button youtube-player-buttons play-button") %>
        </div>
      </div>
  <% end %>

  <!-- back button -->
  <%= link_to :back, class: "_show-video-back-container-m" do %>
      <%= image_tag("icon_back", style: "width: 4rem; height: auto;") %>
  <% end %>

  <!-- Video info -->
  <div class="_show-info-padding-m">
    <div class="info-container">
      <div class="_show-text-container-m _row-positioner">
        <p class="width-devision _fs-1-mobile _white"><%= @upcoming.title %></p>
        <div class="width-devision _hright-positioner">
          <p class="_fs-1-mobile _white _f-letter-mobile"><strong>D<%= d_day(@upcoming.start_date) %></strong></p>
        </div>
      </div>
      <div class="describe-padding">
        <p class="_fs-1-mobile _white"><%= @upcoming.place %></p>
      </div>
      <div class="describe-padding _vcenter-positioner">
        <div class="describe-date">
          <p class="_fs-3-mobile _light-gray">
            <%= @upcoming.start_date %> - <%= @upcoming.end_date %>
          </p>
        </div>
        <div class="describe-icons _vcenter-positioner _hright-positioner">
          <%= link_to @upcoming.ticket_url do %>
              <%= image_tag "icon_ticket_empty", class: "_upcoming-like-icon-m icon-padding" %>
          <% end %>
          <%= link_to upcoming_toggle_like_path(@upcoming.id), remote: true do %>
              <%= image_tag "icon_hand_empty", id: "icon-hand-empty", class: @like_true ? "_display-none _upcoming-like-icon-m" : "_upcoming-like-icon-m" %>
              <%= image_tag "icon_hand_filled", id: "icon-hand-filled", class: @like_true ? "_upcoming-like-icon-m" : "_display-none _upcoming-like-icon-m" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Line-Up -->
  <div class="line-up-container">
    <div class="_show-text-container-m _row-positioner">
      <p class="width-devision _fs-3-mobile _white">LINE - UP</p>
      <div class="width-devision _hright-positioner">
        <p class="_fs-3-mobile _white">전체보기</p>
      </div>
    </div>
  </div>
  <div class="line-up-img-container">
    <% @posts.each_with_index do |post, index| %>
        <div class="artist-profile _hcenter-positioner _vcenter-positioner"
             data-index="<%= index %>"
             style="background: url(<%= post[:artist_image_url] %>) no-repeat center center; background-size: cover;">
          <p class="_fs-2-mobile _white"><%= post[:artist_name] %></p>
        </div>
    <% end %>
  </div>

  <!-- Like, Comment, Share Buttons -->
  <div class="_show-buttons-container-m _row-positioner _no-p-margin">
    <%= link_to "", remote: true, id: "video-like-button", class: "_flex-grow-1
    _hcenter-positioner _vcenter-positioner" do %>
        <div class="_show-icon-m show-like">
          <%= image_tag "icon_like_empty", id: "icon-like-empty", class: "_show-icon-m" %>
          <%= image_tag "icon_like_filled", id: "icon-like-filled", class: "_display-none _show-icon-m" %>
        </div>
        <p class="_fs-4-mobile _white _icon-text-margin-m">좋아요</p>
    <% end %>
    <div class="_flex-grow-1 _hcenter-positioner _vcenter-positioner">
      <%= image_tag "icon_comment_white", class: "_show-icon-m" %>
      <p class="_fs-4-mobile _white">댓글</p>
    </div>
    <div class="_flex-grow-1 _hcenter-positioner _vcenter-positioner" id="share-modal-button">
      <%= image_tag "icon_share_white", class: "_show-icon-m" %>
      <p class="_fs-4-mobile _white">공유</p>
    </div>
  </div>
  <hr>

  <!-- Modals -->
  <section id="modal">
    <% if !user_signed_in? %>
        <form id='login-modal' class='modal' style="width:800px;height:800px;border:3px white solid">
          <div class=\"_big-modal-container\">
            <%= render file: '/devise/sessions/new_mobile.html.erb' %>
          </div>
        </form>
    <% end %>
    <form id="share-modal" class="modal">
      <%= render partial: 'partial_views/share_modal_mobile', locals: {post: @upcoming} %>
    </form>
  </section>

  <!-- Comments -->
  <%= render partial: "partial_views/show_comment_mobile", locals: {comments: @upcoming.upcoming_comments} %>
</div>

<script>
    // share modal
    $('#share-modal-button').click(function() {
        $('#share-modal').modal();
    });
</script>
