<!-- video_id 추출하기 위한 정규식 -->
<% video_id = @upcoming.main_youtube_id.gsub(/https:\/\/www.youtube.com\/watch?|https:\/\/youtu.be\//, '') %>

<section id="video">
  <div class="show-video">
    <!-- Youtube Video Player -->
    <iframe id="youtube-player" type="text/html" src="http://www.youtube.com/embed/<%= video_id %>?version=3&enablejsapi=1&controls=0&rel=0&autoplay=1&watchinfo=0&
    iv_load_policy=3&modestbranding=1&playsinline=1&loop=1&playlist=<%= video_id %>" frameborder="0"></iframe>

    <div id="youtube-player-filter">
      <div class="show-video-filter"></div>
        <div class="show-video-back"><%= image_tag("icon_back", style: "width: 2.6rem; height: auto;") %></div>
      </a>
    </div>

    <div class="show-play-button-container text-center" id="youtube-player-controller">
      <a href="<%= url_for(:back) %>" method="get">
        <div class="show-video-back"><%= image_tag("icon_back", style: "width: 2.6rem; height: auto;") %></div>
      </a>
      <%= image_tag("icon_play_button", style: "height: 16%; width: auto; margin-top: 24%;", id: "play-button") %>
    </div>
  </div>
</section>

<section id="info"></section>

<section id="content">
  <div class="show-video-info">
    <div class="row">
      <div class="col-xs-8">
        <p class="black-title"><%= @upcoming.title %></p>
      </div>
      <div class="col-xs-4 text-right">
        <%= image_tag("icon_view_gray", class: "info-icon") %>
        <p class="gray-content"><%= @upcoming.count_view %></p>
      </div>
    </div>
    <div class="show">
      <p class="black-title"><%= @upcoming.place %></p>
    </div>
  </div>
  <div class="content-container show-video-info">
    <div class="row">
      <div class="col-xs-8">
        <p class="gray-content" style="display: inline-block; margin-right: 4%;">D-<%= @upcoming.calc_d_day() %></p>
        <p class="gray-content" style="display: inline-block;"><%= @upcoming.start_date %> - <%= @upcoming.end_date %></p>
      </div>
      <div class="col-xs-2 text-center">
        <%= link_to "티켓버튼", @upcoming.ticket_url, class: "black-content" %>
      </div>
      <div class="col-xs-2 text-center">
        <p class="black-content">찜버튼</p>
      </div>
    </div>
  </div>
</section>

<div class="hr-container">
  <div class="show-video-filter"></div>
</div>

<section id="line-up">
  <div class="show-video-info">
    <div class="row">
      <div class="col-xs-8">
        <p class="black-title">LINE - UP</p>
      </div>
      <div class="col-xs-4 text-right">
        <div class="text-right">
          <%= image_tag("icon_share_gray", class: "card-button-share") %>
        </div>
      </div>
    </div>
  </div>

  <div class="upcoming-show-lineup-container">
    <% @upcoming.upcoming_artists.each do |artist| %>
      <div class="upcoming-show-artist-profile text-center" style="background: url(<%= image_url("#{artist.artist.image_url}") %>) no-repeat center center; background-size: cover;">
        <p class="upcoming-show-artist-name white-title"><%= artist.artist.name %></p>
      </div>
    <% end %>
  </div>
</section>

<section id="comment">
  <%= render partial: "partial_views/show_comment_mobile", locals: {comments: @upcoming.upcoming_comments} %>
</section>

<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('youtube-player', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    $('#youtube-player-controller').click(function() {
        if(player.getPlayerState() == 1) {
            player.pauseVideo();
        } else {
            player.playVideo();
        }
    });

    var done = false;
    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
            $('#play-button').css('visibility', 'hidden')
            $('#youtube-player-filter').css('visibility', 'hidden')
        }
        else if(event.data == YT.PlayerState.PAUSED || event.data == event.data == YT.PlayerState.CUED) {
            $('#play-button').css('visibility', 'visible')
            $('#youtube-player-filter').css('visibility', 'visible')
        }
    }

    function stopVideo() {
        player.stopVideo();
    }
</script>
