<div id="feed-index-card">
  <%= link_to feed_path(feed.id) do %>
      <% if @show_curator %>
          <div class="_vcenter-positioner _no-p-margin _text-container">
            <%= image_tag feed.is_curation ? "icon_crown_gold" : "icon_crown",
                class: "_video-info-icon _crown-icon-margin" %>
            <p class="_fs-4 _white"><%= feed.user.nickname %></p>
          </div>
      <% end %>

      <div class="_thumbnail-image-container">
        <%= image_tag "http://img.youtube.com/vi/#{feed.video_id}/maxresdefault.jpg", class: "_thumbnail-image" %>
      </div>

      <div class="_text-container _no-p-margin">
        <p class="_fs-5 _light-gray">
          <%= feed.title %> -
          <!-- artist name -->
          <% feed.artists.each_with_index do |artist, i| %>
              <%= artist.name %>
              <% break if feed.artists[i+1] == nil %>
              ,&nbsp
          <% end %>
        </p>
        <p class="_fs-5 _light-gray">조회수 <%= feed.count_view %></p>
      </div>
  <% end %>
</div>