<div class="official-<%= feed_counter %> _full-container _vcenter-positioner" id="official-card" style="display: none">
  <div class="official-background _full-container">
    <%= image_tag get_thumbnail_image(feed.video_id), class: "_thumbnail-blur-img" %>
  </div>

  <div class="official-filter _full-container _hcenter-positioner">
    <div class="official-button _vcenter-positioner _hcenter-positioner" id="prev-button-<%= feed_counter %>">
      <%= image_tag "icon_back", class: "arrow-button" %>
    </div>

    <div class="official-video-container _vcenter-positioner" data-player-id="<%= feed_counter %>">
      <div class="_video-player">
        <!-- Youtube Video Player -->
        <iframe id="youtube-player-<%= feed_counter %>" type="text/html" src="http://www.youtube.com/embed/<%= feed.video_id %>?version=3&enablejsapi=1&controls=2&rel=0&
        autoplay=0&showinfo=0&autohide=1&playsinline=1&iv_load_policy=3&modestbranding=1&loop=1&playlist=<%= feed.video_id %>"
                webkitallowfullscreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>
      </div>
    </div>

    <div class="official-describe-container _column-positioner _hcenter-positioner _no-p-margin">
      <!-- curator profile -->
      <div class="_vcenter-positioner">
        <div class="_profile-container _profile-border-green">
          <%= image_tag "#{feed.user.profile_img}", class: "_profile-img" %>
        </div>
        <div class="_username-container _flex-grow-1">
          <div class="_vcenter-positioner _no-p-margin">
            <%= image_tag "icon_crown_gold", class: "_video-info-icon _crown-icon-margin" %>
            <p class="_fs-3 _white"><%= feed.user.nickname %></p>
          </div>
          <div class="_no-p-margin">
            <p class="_fs-4 _light-gray"><%= feed.user.introduce %></p>
          </div>
        </div>
      </div>

      <div class="official-text-container">
        <p class="_fs-3 _white">
          <%= feed.title %> -
          <!-- artist name -->
          <% feed.artists.each_with_index do |artist, i| %>
              <%= artist.name %>
              <% break if feed.artists[i+1] == nil %>
              ,&nbsp
          <% end %>
        </p>
      </div>
      <div class="official-text-container">
        <%= raw_text feed.content, "_fs-4 _light-gray _f-line-mobile" %>
      </div>
      <%= link_to feed_path(feed.id), class: "show-button _vcenter-positioner
          _hcenter-positioner _no-p-margin" do %>
          <p class="_fs-4 _white">더보기</p>
      <% end %>
    </div>

    <div class="official-button _vcenter-positioner _hcenter-positioner" id="next-button-<%= feed_counter %>">
      <%= image_tag "icon_next", class: "arrow-button" %>
    </div>
  </div>
</div>