<div class="_card-container-m">
  <%= link_to feed_path(feed.id), data: { turbolinks: false } do %>
      <div class="_thumbnail-container-m">
        <%= image_tag get_thumbnail_image(feed.video_id), class: "_thumbnail-image-m", id: "feed-#{feed.id}" %>
        <div class="_thumbnail-filter-m"></div>

        <div class="_thumbnail-button-container-m _row-positioner">
          <%= image_tag "icon_view_white", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m" %>
          <p class="_fs-3-mobile _white"><%= feed.count_view %></p>
          <%= image_tag "icon_like_filled", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m" %>
          <p class="_fs-3-mobile _white"><%= feed.feed_likes.size %></p>
          <%= image_tag "icon_share_white", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m" %>
          <p class="_fs-3-mobile _white"><%= feed.count_share %></p>
        </div>

        <div class="_thumbnail-button-container-m _vcenter-positioner _hright-positioner">
          <%= image_tag feed.is_curation ? "icon_crown_gold" : "icon_crown", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m", style: "margin-top: -1%" %>
          <p class="_fs-3-mobile _white _thumbnail-margin-right-m"><%= feed.user.nickname %></p>
        </div>

        <div class="_describe-container-m _no-p-margin">
          <p class="_fs-2-mobile _white">
            <!-- title -->
            <%= feed.title %> -
            <!-- artist name -->
            <% feed.artists.each_with_index do |artist, i| %>
                <%= artist.name %>
                <% break if feed.artists[i+1] == nil %>
                ,&nbsp
            <% end %>
          </p>
          <!-- Content -->
          <%= simple_format content_shorten(feed.content), class: "_describe-text-container-m _fs-curation-mobile
               _light-gray _f-line-mobile" %>
        </div>
      </div>
  <% end %>
</div>