<div id="feeds-index">
  <% @disable_nav = true %>

  <div class="official-container _vcenter-positioner">
    <!-- append on s_feed_desktop.js -->
    <%= render partial: "index_official_desktop", collection: @officials, as: :feed %>
  </div>

  <div class="feed-container _column-positioner _vcenter-positioner">
    <div class="_desktop-container _vcenter-positioner">
      <p class="_fs-title _light-gray _flex-grow-1"
         style="margin-left: 1rem;">추천 라이브</p>
      <div class="scroll-button prev-button _vcenter-positioner _hcenter-positioner"
           style="display: none">
        <%= image_tag "icon_back", class: "arrow-button" %>
      </div>
      <div class="scroll-button next-button _vcenter-positioner _hcenter-positioner">
        <%= image_tag "icon_next", class: "arrow-button" %>
      </div>
    </div>

    <div class="_desktop-container">
      <div class="feed-card-group _vcenter-positioner" id="scroll-target">
        <% @show_curator = true %>
        <% @commons.each_with_index do |common, i| %>
            <% if i % 2 != 0 && @commons[i+1] != nil %>
                <div class="_column-positioner">
                  <div class="card-container">
                    <%= render partial: "index_card_desktop", locals: {feed: @commons[i]} %>
                  </div>
                  <div class="card-container">
                    <%= render partial: "index_card_desktop", locals: {feed: @commons[i+1]} %>
                  </div>
                </div>
            <% end %>
        <% end %>

        <div class="_display-none" id="infinite-scrolling">
          <%= will_paginate @commons %>
        </div>
      </div>

      <div class="prev-filter _vcenter-positioner _hcenter-positioner"
           style="display: none"></div>
      <div class="next-filter _vcenter-positioner _hcenter-positioner"></div>
    </div>
  </div>
</div>
