<div id="feeds-show">
  <div class="_hcenter-positioner">
    <div class="_desktop-container _row-positioner">
      <!-- Main -->
      <div class="show-video-container _no-p-margin">
        <div class="_video-player">
          <!-- Youtube Video Player -->
          <iframe id="youtube-player" type="text/html" src="http://www.youtube.com/embed/<%= @feed.video_id %>?version=3&enablejsapi=1&controls=2&rel=0&autoplay=1&showinfo=0&
    autohide=1&playsinline=1&iv_load_policy=3&modestbranding=1&loop=1&playlist=<%= @feed.video_id %>"
                  webkitallowfullscreen mozallowfullscreen allowFullScreen frameborder="0"></iframe>
        </div>

        <div class="text-container _vcenter-positioner">
          <div class="_flex-grow-1">
            <p class="_fs-2 _white">
              <%= @feed.title %> -
              <!-- artist.name -->
              <% @feed.artists.each_with_index do |artist, i| %>
                  <%= artist.name %>
                  <% break if @feed.artists[i+1] == nil %>
                  ,&nbsp
              <% end %>
            </p>
          </div>

          <div class="_video-info-icon-container _vcenter-positioner">
            <%= image_tag "icon_view_white", class: "_video-info-icon _thumbnail-elem-margin" %>
            <p class="_fs-5 _white"><%= @feed.count_view %></p>
            <%= image_tag "icon_like_filled", class: "_video-info-icon _thumbnail-elem-margin" %>
            <p id="like-count" class="_fs-5 _white"><%= @feed.feed_likes.size %></p>
            <%= image_tag "icon_share_white", class: "_video-info-icon _thumbnail-elem-margin" %>
            <p class="_fs-5 _white"><%= @feed.count_share %></p>
          </div>
        </div>

        <div class="text-container _vcenter-positioner">
          <div class="_profile-container _profile-border-green">
            <%= image_tag "#{@feed.user.profile_img}", class: "_profile-img" %>
          </div>
          <div class="_username-container _flex-grow-1">
            <div class="_vcenter-positioner _no-p-margin">
              <%= image_tag @feed.is_curation ? "icon_crown_gold" : "icon_crown",
                            class: "_video-info-icon _crown-icon-margin" %>
              <p class="_fs-2 _white"><%= @feed.user.nickname %></p>
            </div>
            <div class="_no-p-margin">
              <p class="_fs-4 _white"><%= @feed.user.introduce %></p>
            </div>
          </div>
        </div>

        <div class="text-container">
          <%= simple_format @feed.content, class: "_fs-4 _light-gray _f-line" %>
        </div>

        <!-- Like, Comment, Share Buttons -->
        <div class="_show-buttons-container _vcenter-positioner">
          <div class="_flex-grow-1 _vcenter-positioner">
            <%= image_tag "icon_comment_white", class: "_show-icon" %>
            <p class="_fs-4 _white">댓글 (<%= @feed.feed_comments.size %>)</p>
          </div>

          <%= link_to feed_toggle_like_path(@feed.id), remote: true, class: "_vcenter-positioner _show-button-padding" do %>
              <div class="show-like">
                <%= image_tag "icon_like_empty", id: "icon-like-empty", class: "_show-icon" %>
                <%= image_tag "icon_like_filled", id: "icon-like-filled", class: "_display-none _show-icon" %>
              </div>
              <p class="_fs-4 _white">좋아요</p>
          <% end %>
          <div class="_vcenter-positioner _show-button-padding" id="share-modal-button">
            <%= image_tag "icon_share_white", class: "_show-icon" %>
            <p class="_fs-4 _white">공유</p>
          </div>
        </div>
        <hr>

        <!-- Comments -->
        <%= render partial: "partial_views/show_comment_desktop", locals: {comments: @feed.feed_comments, parent_id: @feed.id} %>
      </div>

      <!-- Reated Video -->
      <div class="related-video-container">
        <div class="related-card-container _hcenter-positioner">
          <div class="related-video-background">
            <%= image_tag "http://img.youtube.com/vi/#{@feed.video_id}/maxresdefault.jpg", class: "_thumbnail-blur-img" %>
            <div class="related-video-filter _full-container"></div>
          </div>

          <div class="card-container">
            <p class="_fs-4 _white">관련영상</p>
            <% @feed.related_feeds.each do |feed| %>
                <%= render partial: "feeds/index_card_desktop", locals: {feed: feed } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>