<div id="feeds-show-mobile">

  <%= render partial: '/partial_views/youtube_player', locals: { player_id: 0, feed: @feed, artists: @feed.artists, autoplay: true } %>

  <!-- back button -->
  <%= link_to :back, class: "_link-back-container-m" do %>
      <%= image_tag "icon_back", style: "width: 4rem; height: auto;" %>
  <% end %>

  <!-- Video info -->
  <div class="_show-player-padding-m"></div>
  <div class="info-container">
    <div class="_vcenter-positioner">
      <div class="_profile-container-m _profile-border-green">
        <%= image_tag "#{@feed.user.profile_img}", class: "_profile-img" %>
      </div>

      <div class="text-padding _vcenter-positioner _flex-grow-1 _no-p-margin">
        <div class="_show-text-container-m _column-positioner _vcenter-positioner">
          <div class="text-row _vcenter-positioner">
            <%= image_tag @feed.is_curation ? "icon_crown_gold" : "icon_crown", class: "_thumbnail-info-icon-m", style: "margin-top: -1%" %>
            <p class="_fs-3-mobile _white"><%= @feed.user.nickname %></p>
          </div>
          <div class="text-row">
            <p class="_fs-4-mobile _light-gray"><%= @feed.user.introduce %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="describe-container _row-positioner">
      <p class="_fs-3-mobile _white"><%= @feed.title %> -&nbsp</p>
      <p class="_fs-4-mobile _light-gray">
        <% @feed.artists.each_with_index do |artist, index| %>
            <% unless index == 0 %>,&nbsp<% end %>
            <%= artist.name %>
        <% end %>
      </p>
    </div>
    <div class="describe-container">
      <%= simple_format @feed.content, class:"_fs-4-mobile _light-gray _f-line-mobile" %>
    </div>
  </div>

  <!-- Like, Comment, Share Buttons -->
  <div class="_show-buttons-container-m _vcenter-positioner _no-p-margin">
    <%= link_to feed_toggle_like_path(@feed.id), remote: true, class: "_flex-grow-1
    _hcenter-positioner _vcenter-positioner" do %>
        <div class="_show-icon-m show-like">
          <%= image_tag "icon_like_empty", id: "icon-like-empty", class: "_show-icon-m #{@like_true ? '_display_none' : ''}" %>
          <%= image_tag "icon_like_filled", id: "icon-like-filled", class: "_display-none _show-icon-m #{@like_true ? '' : '_display_none'}" %>
        </div>
        <p class="_fs-4-mobile _white">좋아요</p>
    <% end %>
    <div class="_flex-grow-1 _hcenter-positioner _vcenter-positioner">
      <%= image_tag "icon_comment_white", class: "_show-icon-m" %>
      <p class="_fs-4-mobile _white">댓글</p>
    </div>
    <div class="_flex-grow-1 _hcenter-positioner _vcenter-positioner" id="share-modal-button" onclick="$('#share-modal').modal();">
      <%= image_tag "icon_share_white", class: "_show-icon-m" %>
      <p class="_fs-4-mobile _white">공유</p>
    </div>
  </div>
  <hr>

  <!-- Comments -->
  <%= render partial: "partial_views/show_comment_mobile", locals: {comments: @feed.feed_comments} %>

  <!-- Modals -->
  <div id="share-modal" class="modal">
    <%= render partial: 'partial_views/share_modal_mobile', locals: {post: @feed} %>
  </div>
</div>
