<!-- video_id 추출하기 위한 정규식 -->
<% video_id = @feed.youtube_id.gsub(/https:\/\/www.youtube.com\/watch?|https:\/\/youtu.be\//, '') %>

<section id="video">
  <div class="watch-video">
    <iframe src='https://www.youtube.com/embed/<%= video_id %>
    ?enablejsapi=1&rel=0&controls=2&modestbranding=1&showinfo=0&loop=1&autoplay=1&playlist=<%= video_id %>' frameborder='0' allowfullscreen></iframe>

    <div class="watch-video-filter"></div>
    <a href="<%= url_for(:back) %>" method="get">
      <div class="watch-video-back"><%= image_tag("icon_back", style: "width: 2.6rem; height: auto;") %></div>
    </a>
    <div class="watch-connector-container">
      <div class="white-title">connector</div>
      <div class="white-content"><%= @feed.user.nickname %>님</div>
    </div>
    <!--<div class="watch-play-button-container text-center">-->
      <!--<= image_tag("icon_play_button", style: "height: 16%; width: auto; margin-top: 24%;", id: "play-button") >-->
    <!--</div>-->
  </div>
</section>

<section id="info">
  <div class="watch-video-info">
    <div class="row">
      <div class="col-xs-8">
        <%= image_tag("icon_like_gray", class: "info-icon") %>
        <p class="gray-content" style="padding-right: 6%;"><%= @feed.feed_likes.size %></p>
        <%= image_tag("icon_share_gray", class: "info-icon") %>
        <p class="gray-content"><%= @feed.count_share %></p>
      </div>
      <div class="col-xs-4 text-right">
        <%= image_tag("icon_view_gray", class: "info-icon") %>
        <p class="gray-content"><%= @feed.count_view %></p>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-container watch-video-info">
    <p class="black-title">
      <% @feed.feed_artists.each do |feed_artist| %>
          <%= feed_artist.artist.name %>,
      <% end %>
    </p>
    <div class="content-container gray-content"><%= @feed.title %></div>
  </div>

  <!--TODO: Curation Partial View 달기-->
</section>

<div class="hr-container">
  <div class="watch-video-filter"></div>
</div>

<section id="comment">
  <%= render partial: "partial_views/watch_comment", locals: {comments: @feed.feed_comments} %>
</section>