<!-- video_id 추출하기 위한 정규식 -->
<% video_id = @feed.youtube_id.gsub(/https:\/\/www.youtube.com\/watch?|https:\/\/youtu.be\//, '') %>

<section id="video">
  <div class="watch-video">
    <!-- Youtube Video Player -->
    <iframe id="youtube-player" type="text/html" src="http://www.youtube.com/embed/<%= video_id %>?version=3&enablejsapi=1&controls=0&rel=0&autoplay=1&showinfo=0&
    iv_load_policy=3&modestbranding=1&playsinline=1&loop=1&playlist=<%= video_id %>" frameborder="0"></iframe>

    <div id="youtube-player-filter">
      <div class="watch-video-filter"></div>
      <div class="watch-connector-container">
        <div class="white-title">connector</div>
        <div class="white-content"><%= @feed.user.nickname %>님</div>
      </div>
    </div>

    <div class="watch-play-button-container text-center" id="youtube-player-controller">
      <a href="<%= url_for(:back) %>" method="get">
        <div class="watch-video-back"><%= image_tag("icon_back", style: "width: 2.6rem; height: auto;") %></div>
      </a>
      <%= image_tag("icon_play_button", style: "height: 16%; width: auto; margin-top: 24%;", id: "play-button") %>
    </div>
  </div>
</section>

<section id="info">
  <div class="watch-video-info">
    <div class="row">
      <div class="col-xs-8">
        <%= image_tag("icon_like_gray", class: "info-icon") %>
        <p class="gray-content" style="padding-right: 6%;"><%= @feed.feed_likes.size %></p>
        <%= image_tag("icon_share_gray", class: "info-icon") %>
        <p class="gray-content"><%= @feed.count_share %></p>
      </div>
      <div class="col-xs-4 text-right">
        <%= image_tag("icon_view_gray", class: "info-icon") %>
        <p class="gray-content"><%= @feed.count_view %></p>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-container watch-video-info">
    <p class="black-title">
      <% @feed.feed_artists.each do |feed_artist| %>
          <%= feed_artist.artist.name %>,
      <% end %>
    </p>
    <div class="content-container gray-content"><%= @feed.title %></div>
  </div>

  <!--TODO: Curation Partial View 달기-->
</section>

<div class="hr-container">
  <div class="watch-video-filter"></div>
</div>

<section id="comment">
  <%= render partial: "partial_views/watch_comment", locals: {comments: @feed.feed_comments} %>
</section>

<script>
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('youtube-player', {
      events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  $('#youtube-player-controller').click(function() {
    if(player.getPlayerState() == 1) {
      player.pauseVideo();
    } else {
      player.playVideo();
    }
  });

  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      $('#play-button').css('visibility', 'hidden')
      $('#youtube-player-filter').css('visibility', 'hidden')
    }
    else if(event.data == YT.PlayerState.PAUSED || event.data == event.data == YT.PlayerState.CUED) {
      $('#play-button').css('visibility', 'visible')
      $('#youtube-player-filter').css('visibility', 'visible')
    }
  }

  function stopVideo() {
    player.stopVideo();
  }
</script>