<div id="mypage-edit-password-mobile">

  <div class="password-input-container">
    <%= form_for current_user, url: user_registration_path, remote: true do |f| %>
        <!-- save button -->
        <div class="save-button">
          <%= f.submit "완료", class: "_fs-4-mobile _white _f-letter-mobile" %>
        </div>

        <div class="error-message"></div>
        <p class="_fs-3-mobile _white _f-letter-mobile">기존 비밀번호</p>
        <div class="password-input-field">
          <%= f.password_field :current_password, placeholder: "기존 비밀번호를 입력해주세요", class: "input-field _fs-3-mobile _white" %>
        </div>

        <p class="_fs-3-mobile _white _f-letter-mobile">새로운 비밀번호</p>
        <div class="password-input-field">
          <%= f.password_field :password, :autocomplete => "off", placeholder: "새로운 비밀번호를 입력해주세요", class: "input-field _fs-3-mobile _white" %>
        </div>
        <div class="new-password-error"></div>

        <p class="_fs-3-mobile _white _f-letter-mobile">새로운 비밀번호 확인</p>
        <div class="password-input-field">
          <%= f.password_field :password_confirmation, placeholder: "새로운 비밀번호를 입력해주세요", class: "input-field _fs-3-mobile _white" %>
        </div>
        <div class="new-password-confirmation-error"></div>
    <% end %>
  </div>
</div>