<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" valign="top" bgcolor="#f7f7f7" style="padding-top: 20px; padding-bottom: 20px; border-collapse: collapse;">
      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" bgcolor="#ffffff">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
              <!-- header -->
              <tr>
                <td valign="top" validation="top" style="padding-top: 36px; background-color: #121212; border-collapse: collapse;">
                  <table align="right" width="90%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ffffff;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" style="padding-top: 20px; padding-right: 40px; padding-bottom: 20px; padding-left: 40px; background-color: #121212; border-collapse: collapse;">
                  <table align="right" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%;">
                        <table>
                          <tr>
                            <td>
                              <%= image_tag "logo_livle", style: "width: auto; height: 40px; padding-right: 20px;" %>
                            </td>
                            <td valign="top" style="font-size: 12pt; color: #ffffff;">
                              Welcome To LIVLE
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding-top: 60px; padding-bottom: 60px; font-size: 12pt; color: #999999;">
                        라이블은 음악 영상과 콘서트를 연결하는<br />
                        온오프라인 라이브 음악 플랫폼입니다.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- content -->
              <tr id="first">
                <td align="center" style="padding-top: 50px; padding-bottom: 50px;">
                  <table width="80%" valign="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="width: 60%; font-size: 12pt; color: #666666; line-height: 24px;">
                        <span style="color: #000000;">1. Home</span><br />
                        큐레이터에 의해 선정된 음악영상과 관련된<br />
                        스토리들을 볼 수 있습니다.<br />
                      </td>
                      <td valign="center" align="center" style="width: 40%;">
                        <%= image_tag "icon_home_black", style: "width: auto; height: 80px;" %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="border">
                <td align="center" style="padding-left: 30px; padding-right: 30px;">
                  <table width="100%">
                    <tr>
                      <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="second">
                <td align="center" style="padding-top: 50px; padding-bottom: 50px;">
                  <table width="80%" valign="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="center" align="center" style="width: 40%;">
                        <%= image_tag "icon_ticket_black", style: "width: auto; height: 80px;" %>
                      </td>
                      <td style="width: 60%; font-size: 12pt; color: #666666; line-height: 24px;">
                        <span style="color: #000000;">2. Upcoming</span><br />
                        큐레이터에 의해 선정된 음악영상과 관련된<br />
                        스토리들을 볼 수 있습니다.<br />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="border">
                <td align="center" style="padding-left: 30px; padding-right: 30px;">
                  <table width="100%">
                    <tr>
                      <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="third">
                <td align="center" style="padding-top: 50px; padding-bottom: 50px;">
                  <table width="80%" valign="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="width: 60%; font-size: 12pt; color: #666666; line-height: 24px;">
                        <span style="color: #000000;">3. Search</span><br />
                        큐레이터에 의해 선정된 음악영상과 관련된<br />
                        스토리들을 볼 수 있습니다.<br />
                      </td>
                      <td valign="center" align="center" style="width: 40%;">
                        <%= image_tag "icon_search_black", style: "width: auto; height: 80px;" %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="border">
                <td align="center" style="padding-left: 30px; padding-right: 30px;">
                  <table width="100%">
                    <tr>
                      <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="fourth">
                <td align="center" style="padding-top: 50px; padding-bottom: 50px;">
                  <table width="80%" valign="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="center" align="center" style="width: 40%;">
                        <%= image_tag "icon_connect_black", style: "width: auto; height: 80px;" %>
                      </td>
                      <td style="width: 60%; font-size: 12pt; color: #666666; line-height: 24px;">
                        <span style="color: #000000;">4. Connect</span><br />
                        큐레이터에 의해 선정된 음악영상과 관련된<br />
                        스토리들을 볼 수 있습니다.<br />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="border">
                <td align="center" style="padding-left: 30px; padding-right: 30px;">
                  <table width="100%">
                    <tr>
                      <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr id="fifth">
                <td align="center" style="padding-top: 50px; padding-bottom: 50px;">
                  <table width="80%" valign="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="width: 60%; font-size: 12pt; color: #666666; line-height: 24px;">
                        <span style="color: #000000;">5. Mypage</span><br />
                        큐레이터에 의해 선정된 음악영상과 관련된<br />
                        스토리들을 볼 수 있습니다.<br />
                      </td>
                      <td valign="center" align="center" style="width: 40%;">
                        <%= image_tag "icon_mypage_black", style: "width: auto; height: 80px;" %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END content -->
              <!-- footer -->
              <tr>
                <td style="padding-top: 20px; background: #000000;">
                  <table align="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="center" align="center">
                        <%= link_to "https://www.facebook.com/Livlemusic/" do %>
                            <%= image_tag "logo_facebook_gray", style: "width: auto; height: 22px; padding-right: 16px;" %>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to "http://blog.naver.com/livle" do %>
                            <%= image_tag "logo_blog_gray", style: "width: auto; height: 22px; padding-left: 16px;" %>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding-top: 20px; padding-bottom: 30px; background: #000000;">
                  <table align="center" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="padding-top: 5px; padding-bottom: 5px; font-size: 12pt; color: #b3b3b3;">
                        라이블 | www.livle.kr | contacts@livle.kr
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding-top: 5px; padding-bottom: 5px; font-size: 12pt; color: #b3b3b3;">
                        경기도 성남시 분당구 판교로89번길 20, 스타트업캠퍼스 8층
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding-top: 5px; padding-bottom: 5px; font-size: 12pt; color: #b3b3b3;">
                        Copyright @ Livle All Rights Reserved | 고객센터 : 070-8163-4068
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END footer -->
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
