<div class="search-card-mobile">
  <% video_id = feed.youtube_url.gsub(/https:\/\/www.youtube.com\/watch\?v=|https:\/\/youtu.be\//, '') %>
  <%= link_to feed_path(feed.id), method: :get do %>
      <div class="_row-positioner">
        <div class="_thumbnail-container-m card-devider">
          <%= image_tag "http://img.youtube.com/vi/#{video_id}/maxresdefault.jpg", class: "_thumbnail-image-m" %>
        </div>

        <div class="card-text card-devider">
          <p class="_fs-3-mobile _white"><%= feed.title %></p>
          <p class="_fs-3-mobile _white">
            <% feed.artists.each_with_index do |artist, i| %>
                <%= artist.name %>
                <% break if feed.artists[i+1] == nil %>
                ,&nbsp
            <% end %>
          </p>
          <p class="_fs-4-mobile _light-gray">@<%= feed.user.nickname %></p>
        </div>
      </div>
  <% end %>
</div>