<div class="keywords-container _no-p-margin">
  <% if current_user %>
      <% if current_user.recent_keywords.count > 0 %>
          <div class="text-container">
            <p class="_fs-3-mobile _light-gray">최근 검색어</p>
          </div>
          <hr>
          <% current_user.recent_keywords.reverse.each_with_index do |k, i| %>
              <div class="text-container" onclick="insertVal<%= i %>();">
                <p class="_fs-2-mobile _white"><%= k.keyword %></p>
                <script>
                  function insertVal<%= i %>() {
                    $('#search').val('<%= k.keyword %>');
                  }
                </script>
              </div>
              <hr>
          <% end %>

          <%= link_to '/search/clear_history', remote: true do %>
              <div class="text-container" style="margin: 0 0 12rem;">
                <p class="_fs-3-mobile _light-green">최근 기록 삭제</p>
              </div>
          <% end %>
      <% else %>
          <div class="text-container _text-center">
            <p class="_fs-2-mobile _white">최근 검색어 내역이 없습니다.</p>
          </div>
      <% end %>
  <% else %>
      <div class="text-container _text-center">
        <p class="_fs-2-mobile _white">로그인 후 최근 검색어를 볼 수 있습니다.</p>
      </div>
  <% end %>
</div>