<div class="search-card-mobile">
  <a href="/feeds/<%= feed.id %>" method="get">
    <div class="_row-positioner">
      <div class="_thumbnail-container-m card-devider">
        <%= image_tag "image_live", class: "_thumbnail-image-m", id: "search-#{feed.id}" %>
      </div>

      <div class="card-text card-devider">
        <p class="_fs-3-mobile _white"><%= feed.title %></p>
        <p class="_fs-3-mobile _white">
          <% feed.artists.each_with_index do |artist, i| %>
              <%= artist.name %>
              <% break if feed.artists[i+1] == nil %>
              ,&nbsp
          <% end %>
        </p>
        <p class="_fs-4-mobile _light-gray">@<%= feed.user.nickname %></p>
      </div>
    </div>
  </a>
</div>

<script>
    <% video_id = feed.youtube_id.gsub(/https:\/\/www.youtube.com\/watch?|https:\/\/youtu.be\//, '') %>
    $('#search-<%= feed.id %>').attr({
        src: "http://img.youtube.com/vi/<%= video_id %>/maxresdefault.jpg"
    });
</script>