<div class="search-card-mobile">
  <%= link_to upcoming_path(upcoming.id) do %>
      <div class="_row-positioner">
        <div class="_thumbnail-container-m card-devider">
          <%= thumbnail_tag upcoming.main_video.youtube_url, class: "_thumbnail-image-m" %>
        </div>

        <div class="card-text card-devider">
          <p class="_fs-3-mobile _white"><%= upcoming.title %></p>
          <p class="_fs-3-mobile _white">
            <%= upcoming.start_date %> - <%= upcoming.end_date %>
          </p>
          <p class="_fs-4-mobile _light-gray">
            <% upcoming.artists.each_with_index do |artist, i| %>
                <%= artist.name %>
                <% break if upcoming.artists[i+1] == nil %>
                ,&nbsp
            <% end %>
          </p>
          <p class="_fs-4-mobile _light-gray">조회수 <%= upcoming.count_view %></p>
        </div>
      </div>
  <% end %>
</div>
