<div id="search-result-mobile">
  <div class="_body-background-m"></div>
  <%= render partial: "search_bar_mobile" %>

  <div class="selector-container _row-positioner">
    <div class="button-container _hcenter-positioner _flex-grow-1" id="feeds-selector">
      <p class="_fs-1-mobile _white">Feed(<%= @feed_results.size %>)</p>
    </div>
    <div class="button-container _hcenter-positioner _flex-grow-1" id="upcomings-selector">
      <p class="_fs-1-mobile _white">Upcoming(<%= @upcoming_results.size %>)</p>
    </div>
  </div>
  <div class="selector-bar-container _hcenter-positioner">
    <div class="selector-bar"></div>
  </div>

  <div id="result-list-feed-m">
    <%= render partial: "feed_card_mobile", collection: @feed_results, as: :feed %>
  </div>
  <div id="result-list-upcoming-m">
    <%= render partial: "upcoming_card_mobile", collection: @upcoming_results, as: :upcoming %>
  </div>

  <div class="info-text-container text-spacing _vcenter-positioner _hcenter-positioner">
    <p class="_fs-1-mobile _white">
      <%= user_signed_in? ? current_user.nickname+'님' : "당신" %>이 느꼈던 전율의 순간.<br>
      그 떨림을 전해주세요
    </p>
  </div>
</div>

<script>
    $('.search-input-field .input-field').val("<%= @search %>");
    $('.cancel-field').click(function () {
        window.location = "<%= search_path %>";
    });
</script>