<!-- Side Navbar -->
<%= render partial: "side_navbar_desktop" %>

<div class="admin-desktop-container">
  <p class="black-desktop-title">Artist Lists</p>
  <table>
    <tr>
      <th>
        <p class="black-desktop-content">index</p>
      </th>
      <th>
        <p class="black-desktop-content">Profile Image</p>
      </th>
      <th>
        <p class="black-desktop-content">Name</p>
      </th>
      <th>
        <p class="black-desktop-content">On Feeds</p>
      </th>
      <th>
        <p class="black-desktop-content">On Curations</p>
      </th>
      <th>
        <p class="black-desktop-content">On Upcomings</p>
      </th>
      <th>
      </th>
    </tr>

    <% @artists.each do |artist| %>
      <tr>
        <td>
          <p class="black-desktop-content"><%= artist.id %></p>
        </td>
        <%= form_for artist, method: :patch, multipart: true do |f| %>
          <td>
            <label for="profile<%= artist.id %>">
              <%=image_tag artist.image_url, style: "width: 100px; height: 100px"%>
              <%=f.file_field :image_url %>
            </label>
          </td>
          <td>
            <%=f.text_field :name %>
          </td>
          <td>
            <p class="black-desktop-content"><%= artist.feeds.where(is_curation: false).size %></p>
          </td>
          <td>
            <p class="black-desktop-content"><%= artist.feeds.where(is_curation: true).size %></p>
          </td>
          <td>
            <p class="black-desktop-content"><%= artist.upcomings.size %></p>
          </td>
          <td>
            <!-- TODO: 뭐 넣을지 생각해보기 -->
          </td>
          <td>
            <%= submit_tag("수정", class: "btn btn-outline-primary") %>
          </td>
        <% end %>
        <td>
          <%= link_to artist_path(artist.id), method: :delete do %>
            <button type="button" class="btn btn-outline-primary">삭제</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @artists %>
</div>
