<!-- Side Navbar -->
<%= render partial: "side_navbar_desktop" %>

<div class="admin-desktop-container">
  <p class="black-desktop-content">Feed Lists</p>
  <div class="row">
    <div class="col-xs-1">
      <p class="black-desktop-content">index</p>
    </div>
    <div class="col-xs-2">
      <p class="black-desktop-content">Title</p>
    </div>
    <div class="col-xs-2">
      <p class="black-desktop-content">Artists</p>
    </div>
    <div class="col-xs-1">
      <p class="black-desktop-content">User</p>
    </div>
    <div class="col-xs-2">
      <p class="black-desktop-content">Youtube ID</p>
    </div>
    <div class="col-xs-1 text-center">
      <p class="black-desktop-content">Rank</p>
    </div>
    <div class="col-xs-3"></div>
  </div>

  <% @feeds.each do |feed| %>
      <div class="admin-desktop-content-box">
        <div class="row">
          <div class="col-xs-1">
            <p class="black-desktop-content"><%= feed.id %></p>
          </div>
          <div class="col-xs-2">
            <p class="black-desktop-content"><%= feed.title %></p>
          </div>
          <div class="col-xs-2">
            <p class="black-desktop-content">
              <% feed.artists.each do |artist| %>
                  <%= artist.name %>,
              <% end %>
            </p>
          </div>
          <div class="col-xs-1">
            <p class="black-desktop-content"><%= feed.user.nickname %></p>
          </div>
          <div class="col-xs-2">
            <p class="black-desktop-content"><%= feed.youtube_id %></p>
          </div>
          <div class="col-xs-1 text-center">
            <p class="black-desktop-content"><%= feed.rank %></p>
          </div>
          <div class="col-xs-1">
            <%= link_to "/feeds/#{feed.id}" do %>
                <button type="button" class="btn btn-outline-primary">바로가기</button>
            <% end %>
          </div>
          <div class="col-xs-1 text-center">
            <p class="black-desktop-content">수정</p>
          </div>
          <div class="col-xs-1 text-center">
            <p class="black-desktop-content">삭제</p>
          </div>
        </div>
      </div>
  <% end %>
</div>