<div class="_row-positioner">
  <%= render partial: "side_navbar_desktop" %>
  <div class="admin-desktop-container _flex-grow-1">
    <div class="_vcenter-positioner">
      <div class="_flex-grow-1">
        <p class="_fs-1 _white">Feed List</p>
      </div>
      <div class="official-button button button-margin _no-p-margin">
        <p class="_fs-3 _white">Official</p>
      </div>
      <div class="common-button button button-margin _no-p-margin">
        <p class="_fs-3 _white">Common</p>
      </div>
    </div>
    <table width="100%">
      <thead>
      <tr>
        <th>
          <p class="_fs-2 _light-gray">Index</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">작성자</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">제목</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">아티스트</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Youtube ID</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">계산점수</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">주관적점수</p>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
      </thead>

      <tbody class="official-group">
      <% @official_feeds.each do |feed| %>
          <%= render partial: "feed_card", locals: {feed: feed} %>
      <% end %>
      </tbody>

      <tbody class="common-group">
      <% @common_feeds.each do |feed| %>
          <%= render partial: "feed_card", locals: {feed: feed} %>
      <% end %>
      </tbody>
    </table>
    <div class="official-group _hcenter-positioner">
      <%= will_paginate @official_feeds %>
    </div>
    <div class="common-group _hcenter-positioner">
      <%= will_paginate @common_feeds %>
    </div>
  </div>
</div>
<div id="artist-autocomplete">
</div>

<script>
    // TODO : js 파일로 뺴주세요
    $(".new-feed_artist").click(function(e) {
        e.preventDefault();
        var $new = $(this).prev();
        $new.toggle();
        $(this).text( $new.is(":visible") ? "Click to cancel" : "Click to add" );
    });

    $('.artist_name').autocomplete( {
        appendTo: "#artist-autocomplete",
        select: function(event, ui) {
            var id = $(this).data('id');
            $('input:hidden[data-id=' + id + ']').val(ui.item.id);
            $('form[data-id=' + id + ']').submit();
            return false;
        }
    }).autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li>" )
            .append( "<div><img src='" + item.image_url + "' style='width: 50px; height: 50px'/>" + item.label + "</div>" )
            .appendTo( ul );
    };

    $('.artist_name').autocomplete( {
        appendTo: "#artist-autocomplete",
        select: function(event, ui) {
            var id = $(this).data('id');
            $('input:hidden[data-id=' + id + ']').val(ui.item.id);
            $('form[data-id=' + id + ']').submit();
            return false;
        }
    }).autocomplete( "instance" )._renderItem = function( ul, item ) {
        return $( "<li>" )
            .append( "<div><img src='" + item.image_url + "' style='width: 50px; height: 50px'/>" + item.label + "</div>" )
            .appendTo( ul );
    };

    $('.artist_name').keyup(function() {
        $.ajax({
            url: '/artists/autocomplete',
            data: {
                key: $(this).val()
            },
            context: this,
            success: function(data) {
                data = data.map(function(a) { return { id: a.id, label: a.name, image_url : a.image_url.url }; });
                $(this).autocomplete("option", "source", data);
                $(this).autocomplete("search", $(this).val());
            }
        });
    });
</script>
