<div class="_row-positioner">
  <%= render partial: "side_navbar_desktop" %>
  <div class="admin-desktop-container _flex-grow-1">
    <div class="_vcenter-positioner">
      <div class="_flex-grow-1">
        <p class="_fs-1 _white">Feed List</p>
      </div>
      <div class="official-button button button-margin _no-p-margin">
        <p class="_fs-3 _white">Official</p>
      </div>
      <div class="common-button button button-margin _no-p-margin">
        <p class="_fs-3 _white">Common</p>
      </div>
    </div>
    <table width="100%">
      <thead>
      <tr>
        <th>
          <p class="_fs-2 _light-gray">Index</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">작성자</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">제목</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">아티스트</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Youtube ID</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">Ranking</p>
        </th>
        <th>
          <p class="_fs-2 _light-gray">가산점</p>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
      </thead>

      <tbody class="official-group">
      <% @official_feeds.each do |feed| %>
          <%= render partial: "feed_card", locals: {feed: feed} %>
      <% end %>
      </tbody>

      <tbody class="common-group">
      <% @common_feeds.each do |feed| %>
          <%= render partial: "feed_card", locals: {feed: feed} %>
      <% end %>
      </tbody>
    </table>
    <div class="official-group _hcenter-positioner">
      <%= will_paginate @official_feeds %>
    </div>
    <div class="common-group _hcenter-positioner">
      <%= will_paginate @common_feeds %>
    </div>
    <div id="artist-autocomplete">
    </div>
  </div>
</div>