<!-- Side Navbar -->
<%= render partial: "side_navbar_desktop" %>

<div class="admin-desktop-container">
  <p class="_fs-1 _white">Upcoming Lists</p>
  <table>
    <tr>
      <td>
        <p class="_fs-2 _light-gray">index</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">포스터</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">Title</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">Place</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">시작일</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">종료일</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">Artists</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">Youtube ID</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">Ticket</p>
      </td>
      <td>
        <p class="_fs-2 _light-gray">계산점수</p>
      </td>
      <td>
      </td>
    </tr>

    <% @upcomings.each do |upcoming| %>
      <tr>
        <td>
            <p class="_fs-3 _light-gray"><%= upcoming.id %></p>
        </td>
          <%= form_for upcoming, method: :patch do |f| %>
            <td>
              <p class="_fs-3 _light-gray">
              <%=image_tag upcoming.image_url, style: "width: 100px; height: 100px"%>
              <%=f.file_field :image_url %>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <%= f.text_field :title %>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <%= f.text_field :place %>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <%=f.date_field :start_date %>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <%=f.date_field :end_date %>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <ul>
                <% upcoming.upcoming_artists.each do |ua| %>
                  <li class="_fs-3 _light-gray">
                    <%= ua.artist.name if ua.artist %> <%=link_to ua, method: :delete do %>(Click to remove)<%end%>
                  </li>
                <% end %>
                <li style="display:none">
                  <%= text_field_tag :artist_name, nil, class: 'artist_name', placeholder: 'Click artist to submit', data: {id: upcoming.id} %>
                </li>
                <button class="new-upcoming_artist">Click to add</button>
              </ul>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <%= f.text_field :main_youtube_id %>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray" style="overflow-x: scroll">
              <ul>
                <% upcoming.upcoming_ticket_urls.each do |t| %>
                  <li class="_fs-3 _light-gray">
                    <%=t.provider%> : <%=t.ticket_url%>
                  </li>
                <% end %>
              </ul>
              </p>
            </td>
            <td>
              <p class="_fs-3 _light-gray">
              <%= upcoming.rank.round(2) %>
              </p>
            </td>
            <td>
              <%= link_to "/upcomings/#{upcoming.id}" do %>
                <button type="button" class="btn btn-outline-primary">바로가기</button>
              <% end %>
            </td>
            <td>
              <%= f.submit '수정' %>
            </td>
          <% end %>
          <td>
            <%= link_to upcoming_path(upcoming.id), method: :delete do %>
              <button type="button" class="btn btn-outline-primary">삭제</button>
            <% end %>
            <!-- Nested form이 불가능해서 여기다 빼놓음 -->
            <%= form_tag upcoming_upcoming_artists_path(upcoming.id), data: { id: upcoming.id }, method: :post do %>
              <%= hidden_field_tag :artist_id, nil, data: { id: upcoming.id } %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @upcomings %>
</div>
<div id="artist-autocomplete">
</div>

<script>
// TODO : js 파일로 뺴주세요
$(".new-upcoming_artist").on('click', function(e) {
  e.preventDefault();
  var $new = $(this).prev();
  $new.toggle();
  $(this).text( $new.is(":visible") ? "Click to cancel" : "Click to add" );
});

$('.artist_name').autocomplete( {
  appendTo: "#artist-autocomplete",
  select: function(event, ui) {
    var id = $(this).data('id');
    $('input:hidden[data-id=' + id + ']').val(ui.item.id);
    $('form[data-id=' + id + ']').submit();
    return false;
  }
}).autocomplete( "instance" )._renderItem = function( ul, item ) {
  return $( "<li>" )
    .append( "<div><img src='" + item.image_url + "' style='width: 50px; height: 50px'/>" + item.label + "</div>" )
    .appendTo( ul );
};

$('.artist_name').keyup(function() {
  $.ajax({
    url: '/artists/autocomplete',
    data: {
      key: $(this).val()
    },
    context: this,
    success: function(data) {
      data = data.map(function(a) { return { id: a.id, label: a.name, image_url : a.image_url.url }; });
      $(this).autocomplete("option", "source", data);
      $(this).autocomplete("search", $(this).val());
    }
  });
});
</script>
