<div class="_full-container _column-positioner _hcenter-positioner" id="devise-password-edit-mobile">
  <div class="_column-positioner _vcenter-positioner">
    <%= image_tag "logo_livle", class: "_logo-container-m" %>
    <div class="moto-container _text-center">
      <!-- ERROR : $('#error-message').text()로 수정해서 보여주기 -->
      <p class="_fs-3-mobile _white _f-letter-mobile _f-line-mobile" id="error-message">새로운 비밀번호를 입력해주세요</p>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <div class="_column-positioner _vcenter-positioner">
        <!-- 비밀번호 -->
        <div class="login-input-container _vcenter-positioner">
          <div class="icon-container _vcenter-positioner">
            <%= image_tag "icon_lock", class: "input-icon" %>
          </div>
          <div class="input-container">
            <%= f.password_field :password, placeholder: "새 비밀번호", autocomplete: "off", class: "input-field _fs-3-mobile _white" %>
          </div>
        </div>
        <!-- 비밀번호 확인 -->
        <div class="login-input-container _vcenter-positioner">
          <div class="icon-container _vcenter-positioner">
            <%= image_tag "icon_lock", class: "input-icon" %>
          </div>
          <div class="input-container">
            <%= f.password_field :password_confirmation, placeholder: "비밀번호 확인", autocomplete: "off", class: "input-field _fs-3-mobile _white" %>
          </div>
        </div>
        <div class="button-container">
          <div class="_vcenter-positioner _hcenter-positioner">
            <%= f.submit "확인", class: "button-width _submit-button-m _fs-2-mobile _white" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<!-- 비밀번호 길이랑 비밀번호 확인 일치하는지 validation을 뷰에서 자바스크립트로 하는 게 나을 것 같음
  Devise에서는 기본적으로 리다이렉트라 이걸 바꾸는 게 매우 복잡하고, 바꿔놓더라도 결국 그거 안 쓰고 이 뷰에서 처리하게 만들 것이므로 안 바꿨습니다 -->