<div id="device-recover-new-mobile">
  <div class="_column-positioner _vcenter-positioner">
    <%= image_tag "logo_livle", class: "_logo-container-m" %>
    <div class="moto-container _text-center">
      <p class="_fs-3-mobile _white _f-letter-mobile _f-line-mobile">비밀번호를 새로 설정하기 위해 이메일<br> 주소를 입력해주세요.</p>
    </div>
  </div>

  <%= form_for(resource, asx: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="_column-positioner _vcenter-positioner">
        <%= devise_error_messages! %>

        <!-- 이메일 -->
        <div class="login-input-container">
          <div class="_row-positioner">
            <div class="icon-container _vcenter-positioner">
              <%= image_tag "icon_mail", class: "input-icon" %>
            </div>
            <div class="input-container">
              <%= f.email_field :email, placeholder: "이메일을 입력해주세요", autofocus: true, class: "input-field _fs-3-mobile _white" %>
            </div>
          </div>
        </div>

        <div class="button-container">
          <div class="_vcenter-positioner _hcenter-positioner">
            <%= f.submit "확인", class: "button-width _submit-button _fs-2-mobile _white" %>
          </div>
        </div>
      </div>
  <% end %>
</div>