<div id="connect-index-mobile">
  <div class="_body-background-m"></div>
  <%= image_tag "background_connect", class: "background-img" %>

  <div class="_full-container _column-positioner _vcenter-positioner _hcenter-positioner">
    <div class="info-text-container text-spacing">
      <p class="_fs-1-mobile _white">
        <%= @nickname %>이 느꼈던 전율의 순간.<br>
        그 떨림을 전해주세요
      </p>
    </div>

    <div class="connect-input-container">
      <%= form_tag new_connect_url_path, method: :get, remote: true do %>
          <div class="_row-positioner">
            <div class="icon-container _vcenter-positioner">
              <%= image_tag "icon_video_cam", class: "input-icon" %>
            </div>
            <div class="input-container">
              <%= text_field_tag :video_url, nil, class: "input-field _fs-3-mobile _white", placeholder: "Youtube URL을 입력해주세요" %>
            </div>
          </div>
          <div class="submit-container _hcenter-positioner">
            <%= submit_tag "보내기", class: "submit-button _text-center _fs-2-mobile _white", id: "connect-submit-button" %>
          </div>
      <% end %>
    </div>
  </div>
</div>