<div id="connect-new">
  <div class="connect-url-container _hcenter-positioner">
    <div class="_desktop-container-narrow">
      <%= form_for @connect_url, id: "connect-form", remote: true do |f| %>
          <div class="_vcenter-positioner _no-p-margin">
            <div class="_flex-grow-1 _vcenter-positioner">
              <div class="icon-container">
                <%= image_tag "icon_video_cam", class: "input-icon" %>
              </div>
              <p class="_fs-4 _white"><%= @video_url %></p>
              <% youtube_id = get_youtube_video_id(@video_url) %>
              <%= f.hidden_field :youtube_id, value: youtube_id %>
            </div>

            <%= f.submit "보내기", class: "submit-button _vcenter-positioner _hcenter-positioner _fs-3 _white" %>
          </div>

          <div class="new-video-container">
            <div class="_video-player">
              <!-- Youtube Video Player -->
              <iframe id="youtube-player" type="text/html" src="http://www.youtube.com/embed/<%=youtube_id %>?version=3&enablejsapi=1&controls=2&rel=0&autoplay=1&showinfo=0&
    autohide=1&playsinline=1&iv_load_policy=3&modestbranding=1&loop=1&playlist=<%=youtube_id%>"></iframe>
            </div>
          </div>

          <div class="input-container">
            <%= f.text_area :describe, class: "autosize input-field _fs-4 _white", placeholder: "영상에 대해 알려주세요" %>
          </div>
      <% end %>
    </div>
  </div>
  <!-- TODO: controller로 옮기기 -->
  <% unless @video_url =~ /youtu.?be/ %>
      <script>
          $('body').append(
              '<div class="_full-container _vcenter-positioner _hcenter-positioner">' +
              '    <%= j render partial: "partial_views/error_modal_desktop", locals:{message: "Youtube 링크가 아니거나 잘못된 영상입니다\n다른 Youtube 영상을 알려주세요"} %>' +
              '</div>'
          );
          setTimeout(function () {
              window.location = "<%= connect_urls_path %>";
          }, 1500);
      </script>
  <% end %>
</div>
