<div id="connect-new-mobile">
  <div class="_body-background-m"></div>
  <div class="_show-video-container-m">

    <%= render partial: '/partial_views/youtube_player', locals: { feed: @connect_feed, autoplay: true, no_thumbnail_button: true } %>

    <!-- back button -->
    <%= link_to :back, class: "_show-video-back-container-m" do %>
        <%= image_tag("icon_back", style: "width: 4rem; height: auto;") %>
    <% end %>
  </div>

  <div class="_full-container _vcenter-positioner _hcenter-positioner">
    <div class="connect-input-container">
      <%= form_for @connect_url, id: "connect-form", remote: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :video_url, value: @video_url %>
          <div class="input-container">
            <%= f.text_area :describe, class: "input-field _f-letter-mobile _fs-3-mobile _white", row: 8, placeholder: "영상에 대해 알려주세요" %>
          </div>
          <div class="submit-container _hcenter-positioner">
            <%= f.submit class: "submit-button _text-center _fs-2-mobile _white", id: "connect-submit-button", value: "보내기" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
