<div id="connect-new-mobile">
  <div class="_body-background-m"></div>
  <div class="_show-video-container-m">

    <%
      temp_feed = Feed.new
      temp_feed.youtube_url = @video_url
    %>
    <%= render partial: '/partial_views/youtube_player_mobile', locals: { feed: temp_feed, autoplay: true, no_thumbnail_button: true } %>

    <!-- back button -->
    <%= link_to :back, class: "_link-back-container-m" do %>
        <%= image_tag "icon_back", style: "width: 4rem; height: auto;" %>
    <% end %>
  </div>

  <div class="_full-container _vcenter-positioner _hcenter-positioner">
    <div class="connect-input-container">
      <%= form_for @connect_url, id: "connect-form", remote: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :video_url, value: get_youtube_video_id(@video_url) %>
          <div class="input-container">
            <%= f.text_area :describe, class: "autosize input-field _f-letter-mobile _fs-3-mobile _white", placeholder: "영상에 대해 알려주세요" %>
          </div>
          <div class="submit-container _hcenter-positioner">
            <%= f.submit class: "submit-button _text-center _fs-2-mobile _white", id: "connect-submit-button", value: "보내기" %>
          </div>
      <% end %>
    </div>
  </div>
  <!-- TODO: controller로 옮기기 -->
  <% unless @video_url =~ /youtu.?be/ %>
      <script>
          $('body').append(
              '<div class="_full-container _vcenter-positioner _hcenter-positioner">' +
              '    <%= j render partial: "partial_views/error_modal_mobile", locals:{message: "Youtube 링크가 아니거나 잘못된 영상입니다\n다른 Youtube 영상을 알려주세요"} %>' +
              '</div>'
          );
          setTimeout(function () {
              window.location = "<%= connect_urls_path %>";
          }, 1500);
      </script>
  <% end %>
</div>
