<!-- video_id 추출하기 위한 정규식 -->
<% video_id = @connectUrl.video_url.gsub(/https:\/\/www.youtube.com\/watch?|https:\/\/youtu.be\//, '') %>

<!-- Youtube Video Player -->
<iframe id="youtube-player" type="text/html" src="http://www.youtube.com/embed/<%= video_id %>?version=3&enablejsapi=1&controls=0&rel=0&autoplay=1&watchinfo=0&
    iv_load_policy=3&modestbranding=1&playsinline=1&loop=1&playlist=<%= video_id %>" frameborder="0"></iframe>
<div style="background-color:grey">
  <%= form_for @connectUrl do |f| %>
    <%= f.text_area :describe %>
    <%= f.submit "보내기" %>
  <% end %>
</div>

<% if !user_signed_in? %>
  <form id="modal-page" class="modal">
    <%= render file: '/devise/sessions/new_mobile.html.erb' %>
  </form>
  <script>
    $('#modal-page').modal();
  </script>
<% end %>