<div class="users-new-container">
  <div class="users-new-header text-center">
    <p class="black-title">LIVLE</p>
  </div>

  <div class="users-new-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, placeholder: "이메일", autofocus: true, class: "users-new-textfield" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "비밀번호", autocomplete: "off", class: "users-new-textfield" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="row">
          <div class="col-xs-6 text-center">
            <div class="actions">
              <%= f.submit "Log in", class: "users-new-button" %>
            </div>
          </div>

          <div class="col-xs-6 text-center">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <div class="users-new-button">
                  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                </div>
            <% end -%>
          </div>
        </div>
    <% end %>

    <%= render "devise/shared/links_mobile" %>
  </div>
</div>