<div class="_full-container _column-positioner _hcenter-positioner" id="device-new-mobile">
  <div class="_column-positioner _vcenter-positioner">
    <%= image_tag "logo_livle", class: "_logo-container-m" %>
    <div class="moto-container">
      <p class="_fs-3-mobile _white _f-letter-mobile" id="login-error-message">Life is live</p>
    </div>
  </div>

  <%= form_for resource, as: resource_name, url: session_path(resource_name), remote: true do |f| %>
      <%= f.hidden_field :remote_new_session %>
      <div class="_column-positioner _vcenter-positioner">
        <!-- 이메일 -->
        <div class="login-input-container">
          <div class="_row-positioner">
            <div class="icon-container _vcenter-positioner">
              <%= image_tag "icon_mail", class: "input-icon" %>
            </div>
            <div class="input-container">
              <%= f.email_field :email, placeholder: "이메일", autofocus: true, class: "input-field _fs-3-mobile _white" %>
            </div>
          </div>
        </div>
        <!-- 비밀번호 -->
        <div class="login-input-container">
          <div class="_row-positioner">
            <div class="icon-container _vcenter-positioner">
              <%= image_tag "icon_lock", class: "input-icon" %>
            </div>
            <div class="input-container">
              <%= f.password_field :password, placeholder: "비밀번호", autocomplete: "off", class: "input-field _fs-3-mobile _white" %>
            </div>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, value: "1", checked: "checked", class: "_display-none" %>
        <% end %>

        <div class="button-container">
          <div class="_vcenter-positioner">
            <div class="button-width _submit-button-m _fs-2-mobile _white _text-center">
              <%= link_to "회원가입", new_registration_path(resource_name) %><br />
            </div>
            <div class="button-margin"></div>
            <%= f.submit "로그인", class: "button-width _submit-button-m _fs-2-mobile _white" %>
          </div>
        </div>
      </div>
  <% end %>

  <div class="_column-positioner _vcenter-positioner">
    <div class="hr-container _vcenter-positioner">
      <div class="hr"></div>
      <div class="hr-text">
        <p class="_fs-4-mobile _white">or you can</p>
      </div>
      <div class="hr"></div>
    </div>
    <!-- Facebook Login -->
    <div class="button-container">
      <%= render "devise/shared/links_mobile" %>
    </div>
  </div>
</div>
