<div class="_card-container-m">
  <%= link_to curation_path(curation.id) do %>
      <div class="_thumbnail-container-m">
        <%= image_tag "image_live", class: "_thumbnail-image-m", id: "curation-#{curation.id}" %>
        <div class="_thumbnail-filter-m"></div>

        <div class="_thumbnail-info-container-m _row-positioner">
          <%= image_tag("icon_view_white", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m") %>
          <p class="_fs-5-mobile _white"><%= curation.count_view %></p>
          <%= image_tag("icon_like_filled", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m") %>
          <p class="_fs-5-mobile _white"><%= curation.curation_likes.size %></p>
          <%= image_tag("icon_share_white", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m") %>
          <p class="_fs-5-mobile _white"><%= curation.count_share %></p>
        </div>

        <div class="_thumbnail-info-container-m _vcenter-positioner _hright-positioner">
          <%= image_tag("icon_crown_gold", class: "_thumbnail-info-icon-m _thumbnail-elem-margin-m", style: "margin-top: -1%") %>
          <p class="_fs-5-mobile _white _thumbnail-margin-right-m"><%= curation.user.nickname %></p>
        </div>
      </div>
      <hr>

      <div class="_describe-container-m">
        <p class="_fs-3-mobile _white">
          <!-- title -->
          <%= curation.title %> -
          <!-- artist name -->
          <% curation.artists.each_with_index do |artist, i| %>
              <%= artist.name %>
              <% break if curation.artists[i+1] == nil %>
              ,&nbsp
          <% end %>
        </p>
        <!-- Content -->
        <p class="_fs-4-mobile _light-gray _f-line-mobile"><%= curation.content %></p>
      </div>
  <% end %>
</div>
<script>
    <% video_id = curation.youtube_id.gsub(/https:\/\/www.youtube.com\/watch?|https:\/\/youtu.be\//, '') %>
    $('#curation-<%= curation.id %>').attr({
        src: "http://img.youtube.com/vi/<%= video_id %>/maxresdefault.jpg"
    });
</script>