<div class="card-border">
  <%= link_to curation_path(curation.id) do %>
    <div class="card-title text-center">
      <h2>'<%= curation.user.nickname %>'s Choice</h2>
    </div>

    <div class="card-thumbnail">
      <div class="text-center">
        <img class="card-image" src="<%= image_url("image_live") %>"/>
        <div class="card-thumbnail-filter"></div>
      </div>

      <div class="feed-info">
        <%= image_tag("icon_like_white", class: "feed-info-icon") %>
        <p class="white-content"><%= curation.curation_likes.size %></p>
        <%= image_tag("icon_share_white", class: "feed-info-icon") %>
        <p class="white-content"><%= curation.count_share %></p>
        <%= image_tag("icon_view_white", class: "feed-info-icon") %>
        <p class="white-content"><%= curation.count_view %></p>
      </div>
    </div>

    <div class="card-describe">
      <div class="row">
        <div class="col-xs-8">
          <% artist = curation.curation_artists %>
          <p class="black-title">
            <% if curation.curation_artists.size > 1 %>
              <%= artist.name %> 및 <%= curation.curation_artists.size - 1 %>명
            <% else %>
              <%= artist.name %>
            <% end %>
          </p>
        </div>
        <div class="col-xs-4">
          <div class="text-right">
            <%= image_tag("icon_share_gray", class: "card-button-share") %>
          </div>
        </div>
      </div>

      <!-- Title -->
      <p class="gray-title"><%= curation.title %></p>
      <!-- Content -->
      <p class="gray-content"><%= curation.content %></p>
    </div>
  <% end %>
</div>
