<div id="mailer" class="_hcenter-positioner">
  <div class="mailer-container">
    <div class="mailer-header">
      <div class="hr-bar"></div>
      <div class="title-container _row-positioner">
        <img class="mailer-logo" src="<%= Rails.public_path.join('logo_livle.svg') %>">
        <p class="_fs-3 _white">Welcome To Livle</p>
      </div>
      <div class="message-container _hcenter-positioner">
        <p class="_fs-4 _light-gray _text-center"><%= message %></p>
      </div>
    </div>

    <div class="mailer-button-container _hcenter-positioner _no-p-margin">
      <%= link_to redirect_path, class: "mailer-button _vcenter-positioner _hcenter-positioner" do %>
          <p class="_fs-1 _black"><%= button %></p>
      <% end %>
    </div>

    <% if notice != 'none' %>
        <hr>
        <div class="mailer-notice-container _text-center">
          <p class="_fs-4 _light-gray"><%= notice %></p>
        </div>
    <% end %>
  </div>
  <style>
    #mailer {
      width: 100%;
      background: #525252;
    }
    .mailer-container {
      width: 52rem; height: auto;
    }
    .mailer-header {
      background: #121212;
      padding: 2rem 4rem;
    }
    .hr-bar {
      width: 100%; height: .6rem;
      padding:  1rem 0 1rem 10%;
      background: #ffffff;
    }
    .title-container {
      width: 100%;
      height: 6rem;
    }
    .mailer-logo {
      width: auto; height: 100%;
      margin: 0 3rem 0 0;
    }
    .message-container {
      width: 100%;
      height: auto;
      padding: 6rem 0;
    }
    .mailer-button-container {
      background: #ffffff;
      padding: 2rem 4rem 0;
    }
    .mailer-button {
      border: 1px solid #121212;
      border-radius: 1rem;
    }
    .mailer-notice-container {
      width: 100%; height: auto;
      padding: 2rem 0 0;
    }

    /*positioners*/
    ._hcenter-positioner {
      display: flex;
      width: 100%;
      /* align horizontal */
      justify-content: center;
    }
    ._row-positioner {
      display: flex;
      flex-direction: row;
    }
    ._no-p-margin p {
      margin: 0;
    }
    ._text-center {
      text-align: center;
    }

    /*font sizes*/
    ._fs-1 {
      font-size: 1.6rem;
    }
    ._fs-2 {
      font-size: 1.5rem;
    }
    ._fs-3 {
      font-size: 1.4rem;
    }
    ._fs-4 {
      font-size: 1.3rem;
    }

    /*colors*/
    ._black {
      color: #121212;
    }
    ._light-gray {
      color: #bfbfbf;
    }
    ._white {
      color: #ffffff;
    }
  </style>
</div>