<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center" valign="top" bgcolor="#f7f7f7" style="padding-top: 20px; padding-bottom: 20px; border-collapse: collapse;">
      <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" bgcolor="#ffffff">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <!-- header -->
              <tr>
                <td valign="top" validation="top" style="padding-top: 36px; background-color: #121212; border-collapse: collapse;">
                  <table align="right" width="90%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ffffff;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left" style="padding-top: 20px; padding-right: 40px; padding-bottom: 20px; padding-left: 40px; background-color: #121212; border-collapse: collapse;">
                  <table align="right" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%;">
                        <table>
                          <tr>
                            <td>
                              <%= image_tag "logo_livle", style: "width: auto; height: 40px; padding-right: 20px;" %>
                            </td>
                            <td valign="top" style="font-size: 12pt; color: #ffffff;">
                              Welcome To LIVLE
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding-top: 60px; padding-bottom: 60px; font-size: 12pt; color: #999999;">
                        <pre><%= message %></pre>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding-top: 50px; padding-right: 40px; padding-bottom: 50px; padding-left: 40px; background-color: #ffffff; border-collapse: collapse;">
                  <table width="60%;" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center">
                        <%= link_to button, redirect_url, style: "padding: 16px 52px; border-width: 1px; border-style: solid; border-color: #121212; text-decoration: none; border-radius: 12px; font-size: 16pt; color: #121212;" %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END header -->
              <% if notice != 'none' %>
                  <tr>
                    <td>
                      <table align="center" width="100%;" cellspacing="0" cellpadding="0" style="padding-right: 40px; padding-left: 40px; background: #ffffff;">
                        <tr>
                          <td style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #999999;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-top: 36px; padding-right: 40px; padding-bottom: 48px; padding-left: 40px; background-color: #ffffff; border-collapse: collapse;">
                      <table width="100%;" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="font-size: 12pt; color: #666666;"><%= notice %></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
              <% end %>
              <!-- footer -->
              <%= render partial: "footer_form" %>
              <!-- END footer -->
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
