<header>
  <div class="mypage-header-container text-center">
    <h1><%= current_user.nickname %></h1>
    <hr>
  </div>
  <div class="mypage-header-container">
    <%= link_to('/mypage/index') do %>
      <div class="mypage-back-button">
        <%= image_tag("icon_back_black", style: "width: 2.6rem; height: auto;") %>
      </div>
    <% end %>
  </div>
</header>

<section id="profile-img">
  <div class="mypage-profile-img-position text-center">
    <form action="/mypage/update_profile" id="update-profile" method="post" enctype="multipart/form-data">
      <input type="file" name="profile_img" id="profile" accept="image/*" class="mypage-inputfile">
      <label for="profile">
        <div class="mypage-profile-img-container">
          <% if current_user.profile_img != nil %>
              <%= image_tag("#{current_user.profile_img}",id: "upload-profile-img", class: "mypage-profile-img") %>
          <% else %>
              <%= image_tag("image_profile", id: "upload-profile-img", class: "mypage-profile-img") %>
          <% end %>
          <div class="mypage-edit-pencil">
            <%= image_tag("icon_pencil_black", style: "height: 100%; width: auto;") %>
          </div>
        </div>
      </label>

      <button type="submit" class="btn btn-default">변경하기</button>
    </form>
  </div>
</section>