<%= render partial: 'top_mobile', locals: {title: "비밀번호 변경"} %>

<%= form_for current_user, url: user_registration_path, remote: true do |f| %>
  <div class="error-message"></div>
  <div class="field">
    기존 비밀번호<br />
    <%= f.password_field :current_password, placeholder: "기존 비밀번호를 입력해주세요..." %>
  </div>
  <div class="field">
    새로운 비밀번호<br />
    <%= f.password_field :password, :autocomplete => "off", placeholder: "새로운 비밀번호를 입력해주세요..." %>
  </div>
  <div class="new-password-error"></div>
  <div class="field">
    새로운 비밀번호 확인<br />
    <%= f.password_field :password_confirmation, placeholder: "새로운 비밀번호를 입력해주세요..." %>
  </div>
  <div class="new-password-confirmation-error"></div>
  <div class="action_container">
    <%= f.submit "확인" %>
  </div>
<% end %>
