<header>
  <div class="row">
    <%= link_to mypage_index_path do %>
      <%= image_tag 'icon_back_black.png', class: "mypage-back-button" %>
    <% end %>
  <div class="col-xs-offset-4 col-xs-4">
    <div class="text-center">
      <h1><%= current_user.nickname %></h1>
    </div>
  </div>
  </div>
</header>

<hr>

<section class="text-center">
  <div class="mypage-edit-profile-image">
    <div>
      <%= image_tag 'icon_pencil_black.png', class: "mypage-edit-pencil" %>
    </div>
  </div>

  <div class="mypage-edit-profile-email">
    <%= current_user.email %>
    <%= image_tag 'icon_pencil_black.png', class: "mypage-edit-pencil" %>
  </div>

  <div class="mypage-edit-profile-nickname">
    <%= current_user.nickname %>
    <%= image_tag 'icon_pencil_black.png', class: "mypage-edit-pencil" %>
  </div>
  
</section>
