<div id="mypage-edit-profile-mobile">
  <%= form_for @user, url: mypage_update_profile_path, html: {multipart: false, remote: true, id: "update-profile"} do |f| %>
      <!-- save button -->
      <%= f.submit "완료", class: "save-button _fs-4-mobile _white _f-letter-mobile" %>
      <div class="_column-positioner _vcenter-positioner _no-p-margin">
        <div class="edit-container">
          <!-- image -->
          <%= f.file_field :profile_img, id: "profile", accept: "image/*", class: "_display-none" %>
          <%= f.label :profile_img do %>
            <div class="profile-container _profile-border-green">
              <% if current_user.profile_img %>
                  <%= image_tag("#{current_user.profile_img}",id: "upload-profile-img", class: "_profile-img") %>
              <% else %>
                  <%= image_tag("image_profile", id: "upload-profile-img", class: "_profile-img") %>
              <% end %>
              <div class="edit-notice-container _vcenter-positioner _hcenter-positioner">
                <%= image_tag("icon_camera", style: "height: 75%; width: auto;") %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="translucency-container">
          <div class="edit-input-container _vcenter-positioner">
            <div class="icon-container _hcenter-positioner">
              <%= image_tag "icon_mail", class: "input-icon" %>
            </div>
            <p class="edit-input-field _flex-grow-1 _fs-3-mobile _white"><%= current_user.email %></p>
          </div>
          <div class="hr-white"></div>
          <div class="edit-input-container _vcenter-positioner">
            <div class="icon-container _hcenter-positioner">
              <%= image_tag "icon_mypage_filled", class: "input-icon" %>
            </div>
            <%= f.text_field :nickname, class: "edit-input-field _fs-3-mobile _white",
                               placeholder: "닉네임", value: "#{current_user.nickname}" %>
          </div>
          <div class="hr-white"></div>
          <div class="edit-input-container _vcenter-positioner">
            <div class="icon-container _hcenter-positioner">
              <%= image_tag "icon_intro", class: "input-icon" %>
            </div>
            <%= f.text_field :introduce, class: "edit-input-field _fs-3-mobile _white",
                               placeholder: "상태메세지", value: "#{current_user.introduce}" %>
          </div>
        </div>
      </div>
  <% end %>
</div>