<div id="mypage-edit-profile-mobile">
  <%= form_tag mypage_update_profile_path, multipart: true, method: :post, id: "update-profile" do %>
      <!-- save button -->
      <%= submit_tag "완료", class: "save-button _fs-4-mobile _white _f-letter-mobile" %>
      <div class="_column-positioner _vcenter-positioner">
        <div class="edit-container">
          <!-- image -->
          <input type="file" name="profile_img" id="profile" accept="image/*" class="mypage-inputfile">
          <label for="profile">
            <div class="profile-container">
              <% if current_user.profile_img != nil %>
                  <%= image_tag("#{current_user.profile_img}",id: "upload-profile-img", class: "profile-img") %>
              <% else %>
                  <%= image_tag("image_profile", id: "upload-profile-img", class: "profile-img") %>
              <% end %>
              <div class="edit-notice-container _vcenter-positioner _hcenter-positioner">
                <%= image_tag("icon_camera", style: "height: 75%; width: auto;") %>
              </div>
            </div>
          </label>
        </div>

        <div class="translucency-container">
          <div class="edit-input-container _vcenter-positioner">
            <div class="icon-container _hcenter-positioner">
              <%= image_tag "icon_mail", class: "input-icon" %>
            </div>
            <p class="edit-input-field _fs-3-mobile _white"><%= current_user.email %></p>
          </div>
          <div class="hr-white"></div>
          <div class="edit-input-container _vcenter-positioner">
            <div class="icon-container _hcenter-positioner">
              <%= image_tag "icon_mypage_filled", class: "input-icon" %>
            </div>
            <%= text_field_tag :nickname, nil, class: "edit-input-field _fs-3-mobile _white",
                               placeholder: "닉네임", value: "#{current_user.nickname}" %>
          </div>
          <div class="hr-white"></div>
          <div class="edit-input-container _vcenter-positioner">
            <div class="icon-container _hcenter-positioner">
              <%= image_tag "icon_mypage_filled", class: "input-icon" %>
            </div>
            <%= text_field_tag :intro, nil, class: "edit-input-field _fs-3-mobile _white",
                               placeholder: "상태메세지", value: "#{current_user.intro}" %>
          </div>
        </div>
      </div>
  <% end %>
</div>