<div id="mypage-index-mobile">
  <div class="_body-background-m"></div>

  <div class="_mypage-title-container-m _hcenter-positioner _vcenter-positioner">
    <p class="_fs-2-mobile _white"><%= user_signed_in? ? current_user.nickname : "로그인"%></p>
  </div>
  <hr>

  <% if user_signed_in? %>
      <div class="_column-positioner _vcenter-positioner">
        <div class="profile-container">
          <%= image_tag("#{current_user.profile_img}", id: "upload-profile-img", class: "profile-img") %>
        </div>

        <div class="info-container _text-center">
          <div class="info-text-container">
            <p class="_fs-2-mobile _white"><%= current_user.email %></p>
          </div>
          <div class="info-text-container">
            <p class="_fs-4-mobile _light-gray">자기소개를 입력해주세요</p>
          </div>
          <div class="info-text-container _hcenter-positioner">
            <p class="_fs-4-mobile _white">좋아요 수</p>
            <p class="_fs-4-mobile _light-gray">&nbsp&nbsp&nbsp0</p>
          </div>
        </div>

        <div class="settings-container _vcenter-positioner">
          <%= link_to mypage_edit_profile_path, class: "edit-profile-width" do %>
              <div class="edit-button _text-center">
                <p class="_fs-4-mobile _light-gray">프로필 설정</p>
              </div>
          <% end %>
          <%= link_to mypage_settings_path, class: "edit-settings-width" do %>
              <div class="edit-button _vcenter-positioner _hcenter-positioner">
                <%= image_tag "icon_settings", class: "settings-icon" %>
              </div>
          <% end %>
        </div>

        <div class="upcoming-like-container _row-positioner">
          <%= image_tag "icon_hand_filled", class: "list-icon" %>
          <div class="list-container">
            <div class="list-text-container">
              <p class="_fs-4-mobile _white">찜 목록</p>
            </div>
            <% current_user.upcoming_likes.each do |like| %>
                <div class="list-text-container _row-positioner">
                  <p class="_fs-4-mobile _white"><%= like.upcoming.title %></p>
                  <p class="_fs-3-mobile _white"><%=  %></p>
                </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row mypage-index-mylist">
        <div class="col-xs-2 mypage-index-mylist-heart">
          <%= image_tag 'icon_like_black_edge.png' %>
        </div>
        <div class="col-xs-2">마이 리스트</div>
      </div>
  <% else %>
      <div class="login-container _hcenter-positioner _vcenter-positioner">
        <%= render file: '/devise/sessions/new_mobile.html.erb' %>
      </div>
  <% end %>
</div>
