<div id="mypage-index">
  <div class="_hcenter-positioner">
    <div class="_desktop-container-narrow _row-positioner">
      <!-- profile, upcoming -->
      <div class="left-group">
        <div class="edit-profile-container _column-positioner _vcenter-positioner _hcenter-positioner">
          <div class="profile-box _vcenter-positioner _hcenter-positioner">
            <%= link_to mypage_edit_profile_path do %>
                <div class="profile-container _profile-border-green">
                  <%= image_tag user_signed_in? ? current_user.profile_img : "image_profile" ,
                                class: "_profile-img" %>
                </div>
                <div class="_vcenter-positioner _hcenter-positioner">
                  <%= image_tag "icon_crown", class: "mypage-icon", style: "margin-top: -1.5rem" %>
                  <p class="_fs-3 _f-family-tmon _white"><%= current_user.nickname %></p>
                </div>
            <% end %>
          </div>
          <p class="_fs-5 _white"><%= user_signed_in? ? current_user.email : "contact@livle.co.kr" %></p>
          <p class="_fs-5 _white"><%= user_signed_in? ? current_user.introduce : "자기소개를 해주세요." %></p>
          <p class="_fs-5">
            <span class="_white">좋아요 수</span>
            <span class="_light-gray"><%= user_signed_in? ? current_user.upcoming_likes.size +
                current_user.feed_likes.size : 0 %></span>
          </p>
        </div>
        <div class="mypage-info-container _no-p-margin">
          <div class="_vcenter-positioner">
            <%= image_tag "icon_hand_empty", class: "mypage-icon" %>
            <p class="_fs-2 _white">찜 목록</p>
          </div>
          <% if user_signed_in? && current_user.upcoming_likes.size != 0 %>
              <% current_user.upcoming_likes.each do |like| %>
                  <%= link_to upcoming_path(like.upcoming.id) do %>
                      <div class="list-text-container _vcenter-positioner">
                        <p class="_flex-grow-1 _fs-4 _white"><%= like.upcoming.title %></p>
                        <p class="_fs-2 _white _f-letter">
                          D<%= d_day(like.upcoming.start_date) %>
                        </p>
                      </div>
                  <% end %>
              <% end %>
          <% else %>
              <div class="info-text-container _text-center">
                <p class="_fs-3 _white">내가 찜한 영상을 모아볼 수 있어요.</p>
              </div>
          <% end %>
        </div>
        <div class="mypage-info-container _no-p-margin">
          <div class="_vcenter-positioner">
            <%= image_tag "icon_ticket_empty", class: "mypage-icon" %>
            <p class="_fs-2 _white">결제내역</p>
          </div>
        </div>
      </div>
      <!-- my list -->
      <div class="mylist-container _no-p-margin">
        <div class="_vcenter-positioner">
          <%= image_tag "icon_like_filled", class: "mypage-icon" %>
          <p class="_fs-3 _white">마이 리스트</p>
        </div>
        <% if user_signed_in? && current_user.feed_likes.size != 0 %>
            <% current_user.feed_likes.each do |like| %>
                <div class="mylist-card-container">
                  <%= render partial: "feeds/index_card_desktop", locals: {feed: like.feed} %>
                </div>
            <% end %>
        <% else %>
            <div class="info-text-container _text-center">
              <p class="_fs-3 _white">내가 좋아요한 영상을 모아볼 수 있어요.</p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>