<%= render partial: 'top_mobile', locals: {title: "설정"} %>

<section id="settings">
  <div class="row mypage-settings-background"></div>

  <%= render partial: "settings_row_mobile", locals: {tag: "프로필 설정", color: "black", url: mypage_edit_profile_path, method: "GET"} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row_mobile", locals: {tag: "비밀번호 변경", color: "black", url: edit_user_password_path, method: "GET"} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row_mobile", locals: {tag: "공지사항", color: "black", url: notices_path, method: "GET"} %>

  <div class="row mypage-settings-background"></div>

  <%= render partial: "settings_row_mobile", locals: {tag: "약관", color: "black", url: mypage_terms_of_use_path, method: ""} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row_mobile", locals: {tag: "개인정보처리방침", color: "black", url: mypage_privacy_policy_path, method: ""} %>

  <div class="row mypage-settings-background"></div>

  <%= render partial: "settings_row_mobile", locals: {id: "logout-modal-button", tag: "로그아웃", color: "blue", disabled: true, url: "", method: ""} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row_mobile", locals: {id: "withdraw-modal-button", tag: "탈퇴하기", color: "blue", disabled: true, url: "", method: ""} %>
  <hr class="mypage-settings-offset-line">
</section>

<section id="contact">
  <div class="users-new-button text-center" id="mypage-settings-contact">
    <p class="white-title">라이블에게 문의하기</p>
  </div>
</section>

<section id="modal">
  <form id="withdraw-modal" class="modal">
    <%= render partial: "withdraw_modal_mobile" %>
  </form>
  <form id="logout-modal" class="modal">
    <%= render partial: "logout_modal_mobile" %>
  </form>
  <form id="mypage-settings-modal" class="modal">
    <%= render partial: "settings_contact_mobile" %>
  </form>
</section>

<script>
$('#withdraw-modal-button').click(function () {
  $('#withdraw-modal').modal();
});
$('#logout-modal-button').click(function () {
  $('#logout-modal').modal();
});
$('#mypage-settings-contact').click(function () {
  $('#mypage-settings-modal').modal();
});
</script>
