<header>
  <div class="row">
    <div class="mypage-back-button">
    </div>
    <div class="col-xs-offset-4 col-xs-4">
      <div class="text-center">
        <h1>설정</h1>
      </div>
    </div>
  </div>
</header>
<hr>

<section>
  <hr class="mypage-settings-full-line">
  <div class="row mypage-settings-background"></div>
  <hr class="mypage-settings-full-line">

  <%= render partial: "settings_row", locals: {tag: "프로필 설정", color: "black", url: ""} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row", locals: {tag: "비밀번호 변경", color: "black", url: ""} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row", locals: {tag: "공지사항", color: "black", url: ""} %>

  <hr class="mypage-settings-full-line">
  <div class="row mypage-settings-background"></div>
  <hr class="mypage-settings-full-line">

  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row", locals: {tag: "약관", color: "black", url: ""} %>
  <%= render partial: "settings_row", locals: {tag: "개인정보처리방침", color: "black", url: ""} %>

  <hr class="mypage-settings-full-line">
  <div class="row mypage-settings-background"></div>
  <hr class="mypage-settings-full-line">

  <%= render partial: "settings_row", locals: {tag: "로그아웃", color: "blue", url: ""} %>
  <hr class="mypage-settings-offset-line">
  <%= render partial: "settings_row", locals: {tag: "탈퇴하기", color: "blue", url: ""} %>
  <hr class="mypage-settings-offset-line">
</section>
